@media (max-width: 1024px) {
	.common_inner {
		max-width: 100%;
		padding: 0 15px;
	}
	header {
		height: 67px;
	}
	nav {
		display: none;
	}
	header .logo img {
		/* width: 69px; */
	}
	.trigger_wrap {
		display: block;
		width: 100px;
		padding-left: 20px;
	}
	.trigger {
		width: 20px;
		height: 16px;
		position: relative;
	}
	.trigger span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fc6d04;
	}
	.trigger span:nth-child(1) {
		top: 0;
	}
	.trigger span:nth-child(2) {
		top: 50%;
		width: 50%;
	}
	.trigger span:nth-child(3) {
		top: 100%;
	}
	header aside {
		background-color: #fff;
		padding: 0;
		width: 100px;
		padding-right: 5px;
	}
	header aside a {
		width: 50%;
	}
	header aside a em {
		display: none;
	}
	header aside a img {
		filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(2450%) hue-rotate(357deg) brightness(100%) contrast(102%);
		margin-bottom: 0;
	}
	.cart_btn span {
		background-color: #fc6d04;
		color: #fff;
		top: 18px;
		right: 7px;
	}
	.header_search_pop {
		top: 67px;
	}
	.login_btn {
		display: none;
	}
	.mobile_menu {
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
		left: -100%;
		background-color: #fff;
		z-index: 50;
		transition: 0.35s;
	}
	.mobile_menu.active {
		left: 0;
	}
	.mobile_menu_container {
		max-height: 100vh;
		overflow-y: auto;
	}
	.mo_menu_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
	}
	.mo_menu_logo {}
	.mo_menu_logo img {
		/* width: 52px; */
	}

	.mo_menu_login {
		background-color: #5b5b5b;
		padding: 20px;
	}
	.mo_menu_login p {
		font-size: 14px;
		color: #fff;
		padding-bottom: 15px;
	}
	.mo_menu_login .mo_login_join {
		background-color: #fff;
		border-radius: 10px;
		padding: 10px;
		display: flex;
	}
	.mo_menu_login .mo_login_join .mo_login_box,
	.mo_menu_login .mo_login_join .mo_join_box {
		width: 50%;
		text-align: center;
		/* display: none; */
	}
	.mo_menu_login .mo_login_join .mo_login_box {
		border-right: 1px solid #ccc;
	}
	.mo_menu_login .mo_login_join .mo_join_box {}
	.mo_menu_login .mo_login_join .mo_login_box a,
	.mo_menu_login .mo_login_join .mo_join_box a {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 15px;
		color: #5b5b5b;
		font-weight: 500;
	}
	.mo_logout_box {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.mo_logout_box a {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 15px;
		color: #5b5b5b;
		font-weight: 500;
	}
	.mo_menu_gnb {
		padding: 20px;
	}
	.mo_menu_gnb_big {}
	.mo_menu_gnb_big > li {
		border-bottom: 1px solid #5b5b5b;
		position: relative;
	}
	.mo_menu_gnb_big > li > a {
		display: block;
		font-weight: 500;
		font-size: 18px;
		padding: 15px 10px;
		color: #5b5b5b;
		position: relative;
	}
	.mo_menu_gnb_big > li > a:after {
		/* content: ''; */
		position: absolute;
		background-color: #4ba871;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		top: 50%;
    transform: translateY(-50%);
    right: -6px;
		display: none;	
	}
	.mo_menu_gnb_big > li:after {
		content: url(../img/main/mo_arrow_right.png);
		position: absolute;
		top: 15px;
    right: 5px;
		transition: 0.35s;	
	}
	.mo_menu_gnb_big > li.active:after {
		transform: rotate(90deg);
	}
	.mo_menu_gnb_big > li.active > a:after {
		display: block;
	}
	.mo_shop_sub {
		display: none;
	}
	.mo_shop_sub_top {
		padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
	}
	.mo_shop_sub_top a {
		color: #5b5b5b;
		border: 2px solid #898989;
    border-radius: 5px;
    padding: 10px;
    width: calc(50% - 5px);
    text-align: center;
		font-size: 16px;
	}
	.mo_shop_sub_top a.on {
		color: #fc6d04;
		border-color:#fc6d04;	
	}
	.mo_shop_sub_bottom {
		background-color: #f6f6f6;
		border-top: 1px solid #ebebeb;
	}
	.mo_shop_sub_bottom ul {}
	.mo_shop_sub_bottom ul li {
		border-bottom: 1px solid #ebebeb;
		position: relative;
		padding: 20px 30px;
	}
	.mo_shop_sub_bottom ul li:not(.not_psuedo):before,
	.mo_shop_sub_bottom ul li:not(.not_psuedo):after {
		content: '';
		position: absolute;
		width: 12px;
		height: 2px;
		background-color: #000;
		top: 31px;
		right: 30px;
		transition: 0.35s;
	}
	.mo_shop_sub_bottom ul li:after {
		transform: rotate(90deg);
	}
	.mo_shop_sub_bottom ul li.active:before {
		transform: translateX(10px);
		opacity: 0;
	}
	.mo_shop_sub_bottom ul li.active:after {
		transform: rotate(0deg);
	}
	.mo_shop_sub_bottom ul li > a {
		display: block;
		color: #5b5b5b;
		font-weight: 500;
		font-size: 16px;
	}
	.mo_menu_gnb_small_wrap {
		display: none;
	}
	.mo_menu_gnb_small {
		background-color: #fff;
		padding: 20px;
		margin-top: 15px;
		display: flex;
    flex-wrap: wrap;
    gap: 7px;
	}
	.mo_menu_gnb_small a {
		color: #5b5b5b;
    width: calc(50% - 4px);
	}
	.mo_shop_sub_bottom_brand {
		padding: 15px 30px;
	}
	.mo_shop_sub_bottom_brand p {
		color: #5b5b5b;
    font-weight: 500;
    font-size: 16px;
		margin-bottom: 10px;
	}
	.mo_shop_sub_bottom_brand .mo_brand_cate {
		display: flex;
		justify-content: space-around;
	}
	.mo_shop_sub_bottom_brand .mo_brand_cate span {
		color: #fd9040;
    font-size: 14px;
    font-weight: 500;
    background-color: #f9f1eb;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    border-radius: 50%;
	}
	.mo_shop_sub_bottom_brand .mo_brand_cate span a {
		color: inherit;
	}
	.mo_shop_sub_bottom_brand .mo_brand_cate span:nth-child(even) {
		color: #fff;
		background-color: #5b5b5b;
	}


	.main-b {
		width: 100%;
		height: 100%;
	}
	.main-b img {
		width: 100%;
		height: 480px;
		object-fit: cover;
		object-position: center center;
	}
	#main_banner .swiper-button-next, 
	#main_banner .swiper-button-prev {
		/* display: none; */
	}
	.small_banner_bg {
		border-radius: 0;
	}
	#main_banner .swiper-button-prev {
		left: 50px;
	}
	#main_banner .swiper-button-next {
		right: 50px;
	}

	.new_product_bg {
		height: 800px;
	}
	.new_product_heading {
		top: 30px;
    left: 50%;
    transform: translateX(-50%);
		text-align: center;
	}
	.new_product_heading p {
		margin: 0;
	}
	.new_product_heading a {
		position: absolute;
    bottom: -590px;
    left: 50%;
    transform: translateX(-50%);
		width: 120px;
	}
	.swiper-new {
		margin-left: auto;
		padding: 0 30%;
	}
	.swiper-wrapper-new-product {
		padding-top: 210px;
	}
	.new_product_item:hover > img {
		border-color: transparent;
	}
	.new_product_item:hover .new_product_item_desc {
		opacity: 1;
		visibility: visible;
	}
	.hover_buy {
		background-color: transparent;
		opacity: 1;
		visibility: visible;
	}
	.hover_buy a {
		visibility: hidden;
	}
	.hover_buy button {
		background-color: #000;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		text-align: center;
		top: 12px;
		display: none;
	}
	.hover_buy button img {
		width: 21px;
		display: inline-block;
	}
	.slide-new {
		transition: 0.5s;
	}
	#new_product .swiper-slide-next {
		opacity: 0.5;
	}
	#new_product .swiper-slide-prev {
		opacity: 0.5;
	}
	.swiper-arrow-wrap {
		width: 100%;
		left: 0;
	}
	.swiper-button-next-new {
		right: 50px;
	}
	.swiper-button-prev-new {
		left: 50px;
	}
	.swiper-button-next-new, 
	.swiper-button-prev-new {
		display: block;
	}
	.swiper-pagination-progress {
		display: none;
	}
	#best_product {
		background-color: #f4f4f3;
		padding: 40px 0;
		margin: 40px 0;
	}
	#best_product h2 {
		margin-bottom: 15px;
	}
	.swiper-button-prev-best {
		/* left: 20px; */
	}
	.swiper-button-next-best {
		/* right: 20px; */
	}
	.best_product_item {
		background-color: #fff;
	}
	.best_product_item:hover {
		border-color: transparent;
	}
	.best_product_item button {
		opacity: 1;
		visibility: visible;
	}
	.best_product_item_desc {
		/* position: static; */
		padding-bottom: 10px;
		background-color: #fff;
	}
	.best_product_item_desc p {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.brand_wrap {
		display: block;
	}
	.brand_left_tab_panel {
		width: 100%;
		padding-top: 0;
		padding-bottom: 30px;
	}
	.brand_tab_content {
		width: 100%;
	}
	.brand_left_tab_panel ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.brand_left_tab_panel ul li {
		width: 25%;
	}
	.brand_left_tab_panel ul li a {
		min-height: auto;
		padding-right: 0;
		text-align: center;
	}
	.brand_left_tab_panel ul li a:after {
		right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;	
	}
	.brand_left_tab_panel ul li a.active:after {
		top: 43px;
	}
	.brand_tab,
	.brand_img,
	.brand_img img {
		width: 100%;
	}
	#brand_shop {
		margin-bottom: 35%;
	}
	.brand_desc {
		right: auto;
    left: 50%;
    transform: translate(-50%);
    top: auto;
    bottom: -150px;	
	}
	.header_overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 49;
		transition: 0.35s;
		opacity: 0;
		visibility: hidden;
	}
	.header_overlay.active {
		opacity: 1;
		visibility: visible;
	}
	.top_common_banner {
		height: 190px;
	}
	.top_common_banner_heading {
		top: 50%;
		left: 55px;
		transform: translateY(-50%);
	}
	.top_common_banner_heading h1 {
		font-size: 36px;
	}
	.top_common_banner_heading h1 span {
		font-size: 20px;
	}
	.product_list_search {
		background-color: #f6f6f6;
	}
	.pro_list_content {
		gap: 30px 15px;
	}
	.pro_item {
		width: calc(33.3333% - 10px);
	}
	.product_list_search select {
		width: calc(50% - 8px);
	}
	.product_list_search {
		padding: 20px 0;
	}
	.pro_item .border {
		border: none;
	}
	.pro_price_box {
		position: static;
	}
	.pro_price_box_hover {
		opacity: 1;
    visibility: visible;
    position: relative;
    border-radius: 60px;
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
	}
	.pro_price_box_hover button {
    top: 50%;
    transform: translateY(-50%);
	}
	.product_top_box {
		flex-wrap: wrap;
		border: none;
		padding: 30px 0;
	}
	.product_top_box > div {
		width: 100%;
	}
	#tab3 {
		padding: 10px;
	}
	.tab3_box {
		padding: 20px;
	}
	.sns_share_box {
		padding: 20px 15px;
	}
	.buy_layer {
		display: block;
		position: fixed;
		width: 100%;
		bottom: -60px;
		left: 0;
		background-color: #000;
		text-align: center;
		border-radius: 10px 10px 0 0;
		z-index: 1;
		transition: 0.35s;
	}
	.buy_layer.active {
		bottom: 0;
	}
	.buy_layer button {
		background-color: transparent;
    color: #fff;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
	}
	.buy_layer button img {
		width: 19px;
	}
	.simple_buy_pop {
		display: block;
		position: fixed;
		width: 100%;
		background-color: #fff;
		bottom: -205px;
		left: 0;
		padding: 10px 30px;
		z-index: 52;
		transition: 0.35s;
	}
	.simple_buy_pop.active {
		bottom: 0;
	}
	.cart_pro_total {
		width: calc(100% - 44px);
    margin-left: auto;
		margin-top: 8px;
    background-color: #fcf7f3;
		border-radius: 5px;
		padding: 10px;
		justify-content: flex-end;
	}
	.table_content .cart_pro_total span {
		color: #000;
		font-weight: 400;
	}
	.table_content .cart_pro_total span:before {
		content: '합계 : ';
	}
	.table_content .cart_pro_total.order_rantal span:before {
		content: '기간 : ';
	}
	.table_title .cart_table_mid_box,
	.table_title .cart_pro_total,
	.table_title .cart_pro_empty {
		display: none;
	}
	.table_title .cart_all_chk {
		width: 100%;
		position: relative;
		text-align: left;
		padding-left: 10px;
	}
	.table_title .cart_all_chk label em:after {
		content: '전체선택';
		position: absolute;
		left: 40px;
		top: -1px;
		font-size: 14px;
	}
	.table_content {
		flex-wrap: wrap;
		position: relative;
		gap: 0 10px;
	}
	.cart_table_mid_box {
		width: calc(100% - 165px);
		display: block;
	}
	.cart_pro_name,
	.cart_pro_ea,
	.cart_pro_price,
	.cart_pro_pv,
	.cart_pro_pv3 {
		width: 100%;
		text-align: left;
	}
	.cart_pro_ea > div {
		margin: 0;
	}
	.cart_pro_empty,
	.table_title .cart_pro_img {
		display: none;
	}
	.cart_pro_img {
		min-width: 100px;
		display: flex;
	}
	.cart_all_chk {
		width: 44px;
	}
	.cart_pro_remove {
		display: block;
		position: absolute;
		right: 10px;
	}
	.l input {
		padding: 2px;
	}
	.cart_pro_ea,
	.cart_pro_price {
		margin: 6px 0;
	}
	.table_content .cart_pro_price span b,
	.table_content .cart_pro_pv span,
	.table_content .cart_pro_pv3 span {
		font-size: 14px;
		position: relative;
	}
	.table_content .cart_pro_pv span:before {
		content: 'XP : ';
		font-weight: 400;
	}
	.table_content .cart_pro_pv3 span:before {
		content: 'SV : ';
		font-weight: 400;
	}
	.table_content .cart_pro_name span {
		display: inline-block;
		width: 80%;
	}
	.cart_result_box {
		display: block;
		padding: 15px 30px;
	}
	.cart_result_rows {
		justify-content: space-between;
		padding: 5px 0;
	}
	.c_img {
		display: none;
	}
	.table_title.cart_rental,
	.table_title.cart_subscribe {
		display: none;
	}
	.table_content_wrap.cart_rental,
	.table_content_wrap.cart_subscribe {
		border-top: 2px solid #000;
	}
	.table_title.cart_rental .cart_table_mid_box, 
	.table_content.cart_rental .cart_table_mid_box,
	.table_title.cart_subscribe .cart_table_mid_box, 
	.table_content.cart_subscribe .cart_table_mid_box {
		width: calc(100% - 100px);
	}
	.cart_pro_total.cart_rental,
	.cart_pro_total.cart_subscribe {
		width: calc(100% - 95px);
	}
	.table_content.cart_rental .cart_pro_ea {
		font-size: 14px;
	}
	.table_content.cart_rental .cart_pro_total span:before,
	.table_content.cart_subscribe .cart_pro_total span:before {
		content: '매월 결제비용 : ';
	}
	.table_title.cart_subscribe .cart_pro_name, 
	.table_content.cart_subscribe .cart_pro_name,
	.table_title.cart_subscribe .cart_pro_price, 
	.table_title.cart_subscribe .cart_pro_pv, 
	.table_content.cart_subscribe .cart_pro_price, 
	.table_content.cart_subscribe .cart_pro_pv {
		width: 100%;
	}
	.order_wrap {
		flex-wrap: wrap;
	}
	.order_left,
	.order_right {
		width: 100%;
	}
	.table_title.order_overseas {
		display: none;
	}
	.table_content_wrap.order_overseas {
		border-top: 2px solid #000;
	}
	.table_content_wrap.order_overseas .cart_table_mid_box {
		width: calc(100% - 110px);
	}
	.cart_table_mid_box.order_overseas .cart_pro_ea span {
		font-size: 14px;
	}
	.cart_table_mid_box.order_overseas .cart_pro_ea span:before {
		content: '수량 : ';
	}
	.cart_pro_total.order_overseas {
		width: calc(100% - 100px);
	}
	.order_right {
		padding-left: 0;
		padding-top: 0;
	}
	.order_right_wrap.active {
		position: static;
		width: auto;
	}
	.cart_table_mid_box.order_overseas .cart_pro_name {
		width: 100%;
	}
	.cart_table_mid_box.order_overseas .cart_pro_price {
		width: 100%;
	}
	.cart_table_mid_box.order_overseas .cart_pro_pv,
	.cart_table_mid_box.order_overseas .cart_pro_pv3 {
		width: 100%;
	}
	.tab1_wrap {
		width: 100%;
	}
	.product_detail_tab {
		padding: 30px 10px;
	}
	#tab3 {
		padding: 30px 10px;
	}
	.faq_ul_wrap {
		border-top: 1px solid #555;
	}
	.faq_tab_btns_wrap {
		overflow-x: auto;
	}
	.faq_tab_btns_wrap::-webkit-scrollbar {
		height: 2px;
	}
	.faq_tab_btns_wrap::-webkit-scrollbar-thumb {
		background-color: #fc6d04;
	}
	.faq_tab_btns_wrap::-webkit-scrollbar-track {
		background-color: #bbb;
	}
	.faq_tab_btns_wrap::-webkit-scrollbar-corner {
		border-radius: 60px;
	}
	.faq_tab_btns {
		width: 1400px;
		padding: 0 20px;
		margin: 6px auto;
	}
	.sns_intro {
		padding-bottom: 40px;
	}
	.sns_item {
		flex-wrap: wrap;
	}
	.sns_left,
	.sns_right {
		width: 100%;
	}
	.sns_left > div {
		width: 100%;
	}
	.sns_right {
		padding-left: 0;
		padding-top: 20px;
	}
	.t_title_box {
		display: none;
	}
	.t_1 {
		display: none;
	}
	#ask_detail_wrap .t_1 {
		display: block;
	}
	.t_content b {
		font-size: 14px;
		color: #c7c7c7;
	}
	.t_content p {
		font-size: 14px;
	}
	.t_content em {
		display: inline-block;
		width: 70px;
		padding: 5px;
		border-radius: 10px;
		font-size: 13px;
		background-color: #fafafa;
	}
	.t_content em.on {
		background-color: #f9eeee;
	}
	.t_content span {
		font-size: 13px;
	}
	.t_content_ask {
		flex-wrap: wrap;
	}
	.t_1.t_content,
	.t_2.t_content,
	.t_3.t_content,
	.t_4.t_content {
		padding-bottom: 0;
	}
	.t_5.t_content {
		padding-top: 0;
	}
	.t_2 {
		min-width: 100px;
	}
	.t_3,
	.ask_list_wrap .t_3 {
		width: calc(100% - 190px);
	}
	.t_4 {
		min-width: 70px;
	}
	.t_5 {
		width: 100%;
		text-align: left;
	}
	.t_content_answer {
		padding-bottom: 15px;
	}
	.t_content_answer .t_4,
	.t_content_answer .t_5 {
		display: none;
	}
	.t_content_answer .t_3 {
		width: calc(100% - 100px);
	}
	.ask_list_wrap {
		padding-top: 0;
	}
	.ask_inner {
		padding: 0 20px;
	}
	.brand_list_wrap {
		padding: 40px 0;
	}
	.brand_item_overlay {
		opacity: 1;
		visibility: visible;
	}
	.brand_item_photo:hover .brand_item_overlay {
		opacity: 1;
		visibility: visible;
	}
	/* .video_box iframe {
		height: 171px;
	} */
	.who_intro_section {
		flex-wrap: wrap;
		gap: 30px;
	}
	.intro_left,
	.intro_right {
		width: 100%;
	}
	.who_img {
		text-align: center;
	}
	.who_content:before {
		height: 810px;
	}
	.intro_right {
		padding: 20px;
	}
	.intro_right.flex-order {
		order: 2;
	}
	.intro_left.flex-order {
		order: 1;
	}
	.who_big {
		margin: 50px 0;
	}
	.who_big_feature p {
		padding: 0 100px;
	}
	.ourmission_mid {
		background-color: #f6f6f6;
		padding: 20px;
	}
	.ourmission_item_wrap {
		border-bottom: 1px solid #555;
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	.ourmission_item_wrap:last-child {
		border-bottom: none;
	}
	.ourmission_item_wrap:before {
		display: none;
	}
	.ourmission_item {
		flex-wrap: wrap;
	}
	.our_left,
	.our_right {
		width: 100%;
	}
	.our_left {
		padding: 20px 0;
	}
	.our_right {
		min-width: 100%;
	}
	.our_right.flex-order {
		order: 2;
	}
	.our_left.flex-order {
		order: 1;
	}
	.our_right img {
		width: 80%;
		margin: auto;
	}
	.our_box {
		max-width: 300px;
		min-height: auto;
		padding: 10px;
	}
	.ourmission_bot_content {
		background-image: url(../img/community/our_bot_object_mo.png);
		height: 800px;
	}
	.our_box_wrap {
		justify-content: space-around;
		margin-bottom: 515px;
	}
	.our_box_wrap:last-child {
		margin-bottom: 0;
	}
	.autoship_cart_pro_name {
		width: 100%;
		text-align: left;
	}
	.autoship_cart_pro_ea {
		width: 100%;
	}
	.autoship_cart_pro_ea div {
		width: 92px;
	}
	.autoship_cart_pro_qv,
	.autoship_cart_pro_price,
	.autoship_cart_pro_qv_total {
		width: 100%;
		text-align: left;
	}
	.autoship_cart_pro_qv span:before {
		content: 'QV : ';
		color: #898989;
		font-size: 14px;
		font-weight: 400;
	}
	.autoship_cart_pro_price span:before {
		content: '회원가 : ';
		color: #898989;
		font-size: 14px;
	}
	.autoship_cart_pro_qv_total span:before {
		content: 'QV합계 : ';
		color: #898989;
		font-size: 14px;
		font-weight: 400;
	}
	.table_content .autoship_cart_pro_total span:before {
		content: '회원가합계 : ';
		color: #898989;
		font-size: 14px;
	}
	.autoship_order .table_title {
		border-bottom: none;
		padding: 0;
	}
	.autoship_order .cart_table_mid_box {
		width: calc(100% - 110px);
		padding-left: 10px;
	}
	.autoship_order .autoship_cart_pro_ea {
		text-align: left;
	}
	.autoship_order .autoship_cart_pro_ea span:before {
		content: '수량 : ';
		font-size: 15px;
		font-weight: 400;
		color: #898989;
	}
	.autoship_order .autoship_cart_pro_price span:before {
		content: '스마트십가격 : ';
	}
	.autoship_order .table_content .autoship_cart_pro_total span:before {
		content: '스마트십가격합계 : ';
	}
	.autoship_order .cart_pro_total {
		width: calc(100% - 110px);
		justify-content: flex-start;
	}
	.autoship_cart .cart_pro_total {
		width: calc(100% - 140px);
		justify-content: flex-start;
	}
	.foot_btns_sns {
		flex-wrap: wrap;
	}
	.foot_btns {
		padding: 20px;
	}
	.foot_sns {
		padding: 0 20px;
		padding-bottom: 20px;
	}
	.foot_btns,	
	.foot_sns {
		width: 100%;
	}	
	#ask_detail_wrap .t_1 {
		min-width: 80px;
	}
	#ask_detail_wrap .t_content_ask_detail_answer .t_1 {
		min-width: 85px;
	}
	#ask_detail_wrap .t_2 {
		width: calc(100% - 170px);
		padding-left: 15px;
	}
	.ask_detail_wrap {
		padding-top: 80px;
	}
	#ask_detail_wrap .t_content_ask_detail_answer .t_4,
	#ask_detail_wrap .t_content_ask_detail_answer .t_5 {
		display: none;
	}
	#ask_detail_wrap .t_2.answer_para {
		width: calc(100% - 80px);
	}
	#wuurii_map {
		height: 500px;
	}
	.new_product_item:hover img {
		border-color: transparent;
	}
	.new_product_item:hover .new_product_item_desc {
		border-color: transparent;
	}
}

@media (max-width: 900px) {
	.new_product_bg {
		height: 720px;
	}
	.new_product_heading a {
		bottom: -520px;
	}
	.category_banner_content {
		flex-wrap: wrap;
	}
	.cate_layout {
		width: 100%;
		flex-direction: row;
	}
	.cate_item {
		width: 50%;
	}
	.cate_item.cate_item_slide {
		width: 100%;
	}
	.cate_center_item img {
		width: 100%;
		height: 700px;
		object-fit: cover;
		object-position: center center;
	}
	.swiper-category {
		position: static;
	}
	.cate_item {
		height: 230px;
	}
}

@media (max-width: 768px) {
	.small_banner_desc h3 {
		font-size: 24px;
	}
	.small_banner_desc p {
		font-size: 16px;
	}
	.new_product_heading h2 {
		font-size: 24px;
	}
	.new_product_heading p {
		font-size: 16px;
	}
	.swiper-wrapper-new-product {
		padding-top: 170px;
	}
	.new_product_bg {
		height: 640px;
	}
	.new_product_heading a {
		bottom: -470px;
	}
	.new_product_item_desc p {
		font-size: 15px;
	}
	.new_product_item_desc span {
		font-size: 15px;
	}
	#best_product h2 {
		font-size: 24px;
		margin-bottom: 25px;
	}
	.cate_item_common_heading h3 {
		font-size: 24px;
	}
	.cate_item_common_heading p {
		font-size: 13px;
	}
	.cate_center_item_heading h3 {
		font-size: 24px;
	}
	.cate_center_item_heading p {
		font-size: 16px;
	}
	.brand_head {
		font-size: 24px;
	}
	.brand_desc span {
		font-size: 14px;
	}
	.brand_desc h2 {
		font-size: 20px;
	}
	.brand_desc p {
		font-size: 14px;
	}
	.brand_left_tab_panel ul li a.active {
		font-size: 18px;
	}
	.brand_desc {
		width: 90%;
	}
	.bottom_banner_content {
		flex-direction: column;
	}
	.bottom_banner_left, 
	.bottom_banner_right {
		width: 100%;
	}
	.bottom_banner_left_desc span,
	.bottom_banner_right_desc span {
		font-size: 14px;
	}
	.bottom_banner_left_desc h3,
	.bottom_banner_right_desc h3 {
		font-size: 20px;
	}
	.bottom_banner_right_desc h3 em {
		font-weight: 400;
	}
	.foot_btns,
	.foot_intro {
		text-align: center;
	}
	.foot_btns a,
	.foot_intro p {
		font-size: 13px;
	}
	.foot_copy p {
		font-size: 12px;
		text-align: center;
	}
	.foot_intro {
		padding-bottom: 40px;
	}
	.pro_item {
		width: calc(50% - 8px);
	}
	.product_list_search select,
	.pro_list_top_left span {
		font-size: 14px;
	}
	.pro_list_top_right select {
		font-size: 13px;
	}
	.pro_name_box span {
		font-size: 12px;
	}
	.pro_name_box p {
		font-size: 14px;
		height: 40px;
	}
	.pro_price_box span {
		font-size: 16px;
	}
	.page_number_wrap {
		padding-top: 0;
	}
	.pro_top_right > span {
		font-size: 14px;
	}
	.pro_top_right_heading > h2 {
		font-size: 26px;
	}
	.pro_top_right > em {
		font-size: 14px;
	}
	.pro_top_right > p {
		font-size: 13px;
	}
	.p_rows_left b,
	.p_rows_right span {
		font-size: 14px;
	}
	.pro_top_right_rows_last > p {
		font-size: 13px;
	}
	.r span {
		font-size: 18px;
	}
	.r span em {
		font-size: 13px;
	}
	.pro_top_right_rows_btns a {
		font-size: 16px;
		padding: 14px;
	}
	.product_detail_tab_btns a {
		font-size: 14px;
	}
	#tab3 > h3 {
		font-size: 18px;
	}
	.tab3_box h4 {
		font-size: 16px;
	}
	.tab3_box p {
		font-size: 13px;
	}
	.login_inner {
		width: 90%;
	}
	.login_head h2 {
		font-size: 34px;
	}
	.login_head p {
		font-size: 14px;
	}
	.login_form > input {
		font-size: 14px;
	}
	.login_form > button,
	.login_page_join_btn,
	.find_id_form > button, 
	.find_pass_form > button {
		font-size: 16px;
	}
	.pop_find_id, .pop_find_pass {
		max-width: 100%;
		width: 90%;
	}
	.find_id_rows label {
		font-size: 14px;
	}
	.login_box_content {
		padding: 50px 0;
		padding-bottom: 30px;
	}
	.join {
		padding: 40px 0;
	}
	.join_inner {
		max-width: 90%;
	}
	.join_01 > h1 {
		font-size: 24px;
	}
	.join_step_common {
		flex-direction: column;
		gap: 5px;
	}
	.join_step_common span {
		font-size: 12px;
	}
	.join_alert ul li {
		font-size: 13px;
	}
	.join_certified p {
		font-size: 14px;
	}
	.join_certified button {
		font-size: 14px;
	}
	.join_notice {
		flex-wrap: wrap;
	}
	.join_notice_left,
	.join_notice_right {
		width: 100%;
	}
	.join_notice_left p {
		padding: 10px 0;
	}
	.join_notice_right ul li {
		font-size: 13px;
	}
	.join_terms_chk_box label {
		font-size: 16px;
	}
	.join_terms_desc h4 {
		font-size: 15px;
	}
	.join_terms_desc p {
		font-size: 13px;
	}
	.all_terms_chk_box label {
		font-size: 14px;
	}
	.all_terms_chk_box label em {
		min-width: 20px;
	}
	.join_next_page {
		width: 100%;
	}
	.join_form_rows,
	.border_inner_2 {
		flex-wrap: wrap;
	}
	.f_left,
	.f_right {
		width: 100%;
	}
	.f_left {
		margin-bottom: 5px;
	}
	.f_right input.w_345 {
		width: calc(100% - 92px);
	}
	.f_right input.w_345.m_100 {
		width: 100%;
	}
	.gender_chk + label em {
		width: calc(50% - 4px);
	}
	.gender_chk + label[for=gender_female] em {
		margin-right: 0;
	}
	.f_right input.w_260 {
		width: 100%;
	}
	.f_right input.w_150 {
		width: calc(100% - 95px);
	}
	.acc_form_rows {
		flex-wrap: wrap;
	}
	.back_select {
		width: calc(100% - 95px);
	}
	.f_right input.w_310 {
		width: 100%;
	}
	.f_right input.w_160 {
		width: calc(50% - 35px);
	}
	.inquiry_btn {
		margin-left: 0;
	}
	.dojoin_btn {
		width: 100%;
		font-size: 16px;
	}
	.form_title {
		font-size: 13px;
	}
	.join_com_box h3 {
		font-size: 24px;
	}
	.join_com_box p {
		font-size: 16px;
	}
	.join_com_btns a {
		font-size: 16px;
	}
	.join_com_btns {
		margin: 50px 0;
	}
	.subs_pro_img {
		width: 90px;
		height: 90px;
		margin-right: 20px;
	}
	.subs_pro_head {
		float: left;
		width: calc(100% - 110px);
	}
	.subs_pro_head h4 {
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 10px;
		display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;	
	}
	.subs_pro_head span {
		font-size: 16px;
	}
	.subs_pro_desc {
		clear: both;
		width: 100%;
	}
	.subs_pro_desc p {
		font-size: 13px;
		line-height: 1.8em;
		padding: 10px 0;
	}
	.subs_pro_btns {
		position: static;
		transform: none;
		width: 100%;
	}
	.subs_pro_btns a {
		display: inline-block;
		width: calc(50% - 2px);
		padding: 10px;
		font-size: 14px;
	}
	.cart_layer_popup {
		width: 100%;
	}
	.cart_layer_popup > h3 {
		font-size: 20px;
		padding: 20px;
	}
	.cart_layer_popup_close {
		top: 15px;
	}
	.cart_layer_popup_close img {
		width: 40px;
	}
	.accordion_btn {
		font-size: 16px;
	}
	.item_name h4 {
		font-size: 14px;
	}
	.item_rows p,
	.item_rows span {
		font-size: 13px;
	}
	.l input {
		font-size: 13px;
	}
	.item_price_rows span {
		font-size: 14px;
	}
	.bill_rows p,
	.bill_rows em {
		font-size: 14px;
	}
	.cart_layer_order_btn,
	.bill_rows span {
		font-size: 14px;
	}
	.pro_top_right_rows_btns_subscribe a {
		font-size: 16px;
	}
	#product_detail_subscribe .pro_top_right_rows_last {
		padding-bottom: 10px;
	}
	.cart_sel_btns button {
		font-size: 12px;
	}
	.cart_result_btns a {
		width: calc(50% - 2px);
		font-size: 16px;
	}
	.cart_common_head {
		font-size: 18px;
	}
	.cart_common_title {
		font-size: 24px;
	}
	.subs_rows_left,
	.subs_rows_right {
		padding: 15px 20px;
	}
	.subscribe_set_result p {
		font-size: 18px;
	}
	.subscribe_set_result span {
		font-size: 16px;
	}
	.subscribe_set_result p span {
		display: block;
	}
	.order_common_head {
		font-size: 18px;
	}
	/* .order_common_rows {
		flex-wrap: wrap;
	}
	.o_left,
	.o_right {
		width: 100%;
	} */
	.o_left {
		padding-left: 5px;
		min-width: 115px;
	}
	.o_left span {
		font-size: 13px;
	}
	.o_right {
		width: calc(100% - 105px);
	}
	.o_right p {
		font-size: 13px;
	}
	.o_right > input.private_number {
		min-width: 100%;
	}
	.o_right select {
		padding-right: 23px;
	}
	.o_right select,
	.o_right > input {
		font-size: 13px;
	}
	.o_right ul li,
	.o_right ul li a {
		font-size: 13px;
		word-break: break-all;
	}
	.private_number label em {
		min-width: 20px;
	}
	.point_rows {
		flex-wrap: wrap;
	}
	.p_left {
		padding-left: 15px;
		padding-bottom: 0;
	}
	.p_right {
		flex-wrap: wrap;
	}
	.p_right p {
		width: 100%;
		margin-bottom: 5px;
	}
	.p_right div {
		width: 100%;
	}
	.p_left,
	.p_right {
		width: 100%;
	}
	.p_right div input {
		font-size: 13px;
	}
	.pay_inner_rows input {
		max-width: 100%;
		font-size: 13px;
	}
	.pay_inner_rows select {
		max-width: 100%;
		font-size: 13px;
	}
	.dopay {
		font-size: 16px;
	}
	.pay_inner_rows p {
		font-size: 13px;
	}
	.pay_inner_rows h3 {
		font-size: 16px;
	}
	.pay_method_wrap label {
		font-size: 13px;
	}
	.pay_method_wrap {
		padding: 20px;
	}
	.pro_item_empty h1 {
		font-size: 20px;
		padding: 40px 0;
	}
	.orderer_info_change_pop,
	.del_info_change_pop {
		width: 95%;
	}
	.orderer_info_change_pop_close,
	.del_info_change_pop_close {
		top: 0;
		right: 0;
	}
	.address_box_wrap,
	.del_form_wrap {
		max-height: 55vh;
		overflow-y: auto;
	}
	.orderer_info_change_pop h2,
	.del_info_change_pop > h2 {
		font-size: 18px;
	}
	.orderer_info_change_pop > button,
	.del_change_activate {
		font-size: 16px;
	}
	.add_right_top label {
		font-size: 14px;
	}
	.add_right_rows p {
		font-size: 13px;
	}
	.del_tab_btns > button {
		font-size: 13px;
	}
	.del_form_rows > input,
	.del_pop_post_code div input {
		font-size: 13px;
	}
	.del_pop_post_code div input::placeholder {
		font-size: 13px;
	}
	.del_form_rows > input::placeholder {
		font-size: 13px;
	}
	.del_pop_post_code div button {
		font-size: 13px;
	}
	.de_del_set label {
		font-size: 13px;
	}
	.new_del_resister_btn {
		font-size: 16px;
	}
	.tab2_table tr th, 
	.tab2_table tr td {
		font-size: 14px;
	}
	.faq_top {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.faq_top_search div {
		width: calc(100% - 150px);
	}
	.faq_top_search div input {
		min-width: 100%;
	}
	.faq_tab_btns {
		width: 1000px;
	}
	.faq_tab_btns button {
		font-size: 15px;
	}
	.faq_ul_wrap li {
		padding: 0 10px;
	}
	.faq_ul_wrap li:after {
		right: 10px;
	}
	.faq_ul_wrap li a {
		font-size: 14px;
		width: 93%;
	}
	.faq_ul_wrap li a b {
		font-size: 18px;
	}
	.faq_ul_wrap li div p {
		font-size: 14px;
	}
	.sns_item {
		padding: 20px;
	}
	.sns_intro {
		font-size: 20px;
	}
	.sns_right h2 {
		font-size: 20px;
	}
	.sns_right span {
		font-size: 16px;
	}
	.sns_right p {
		font-size: 14px;
	}
	.sns_right a {
		font-size: 14px;
	}
	.center_content h3 {
		font-size: 20px;
	}
	.center_desc span {
		font-size: 16px;
	}
	.center_desc p {
		font-size: 14px;
	}
	.center_desc strong {
		font-size: 16px;
	}
	.cs_center_wrap {
		height: auto;
	}
	.center_map {
		height: 500px;
	}
	.center_content {
		padding-bottom: 50px;
	}
	.ask_intro {
		font-size: 14px;
	}
	.ask_notice {
		display: none;
	}
	.ask_write_top a {
		font-size: 14px;
	}
	.ask_form {
		padding: 10px;
	}
	.ask_form_rows {
		flex-wrap: wrap;
	}
	.af_left,
	.af_right {
		width: 100%;
	}
	.af_left {
		padding-bottom: 10px;
	}
	.af_left span {
		font-size: 14px;
	}
	.af_right select {
		width: 100%;
	}
	.aks_btns button {
		font-size: 16px;
	}
	.aks_btns {
		display: flex;
	}
	.aks_btns button {
		width: 50%;
	}
	.brand_container {
		gap: 30px 20px;
	}
	.brand_item {}
	.brand_container > a {
		width: calc(50% - 10px);
	}
	.result_intro {
		font-size: 20px;
	}
	.search_tab_btns button {
		font-size: 16px;
	}
	.search_tab_btns {
		display: flex;
		justify-content: space-between;
		overflow-x: auto;
		padding-bottom: 10px;
	}
	.search_tab_btns button {
		margin: 0 20px;
	}
	.pro_top_right_rows_last_rental span {
		font-size: 20px;
	}
	.pro_top_right_rows_last_rental span em {
		font-size: 20px;
	}
	.video_item {
		width: calc(50% - 15px);
	}
	.company_news_content > a {
		width: calc(50% - 20px);
	}
	.business_content_wrap > h2 {
		font-size: 28px;
		padding: 30px 0;
	}
	.video_head h4 {
		font-size: 16px;
	}
	.who_wrap > h2 {
		font-size: 24px;
		padding: 20px 0;
	}
	.who_img img {
		width: 80%;
	}
	.intro_head h3 {
		font-size: 24px;
	}
	.intro_head span {
		font-size: 18px;
	}
	.intro_head p {
		font-size: 14px;
	}
	.desc_con h4 {
		font-size: 18px;
	}
	.desc_con p {
		font-size: 14px;
	}
	.who_intro_section {
		padding-bottom: 0;
	}
	.who_big {
		height: 300px;
	}
	.who_big_feature {
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
	}
	.who_big_feature h4:before {
		display: none;
	}
	.who_big_feature img {
		width: 100%;
		max-width: 102px;
	}
	.who_big_feature h4 {
		font-size: 18px;
	}
	.who_big_feature p {
		font-size: 14px;
		margin-top: 10px;
		padding: 0 50px;
	}
	.ourmission_wrap > h2 {
		font-size: 24px;
		padding: 20px 0;
	}
	.our_left h3 {
		font-size: 20px;
	}
	.our_left p {
		font-size: 14px;
	}
	.ourmission_item_wrap {
		margin-bottom: 20px;
	}
	.ourmission_bot > h2 {
		font-size: 24px;
	}
	.our_box {
		gap: 10px;
		width: 100%;
	}
	.our_box_right h4 {
		font-size: 16px;
	}
	.our_box_right p {
		font-size: 14px;
	}
	.our_box_wrap {
		gap: 10px;
	}
	.autoship_cart_pro_name,
	.autoship_cart_pro_ea,
	.autoship_cart_pro_qv,
	.autoship_cart_pro_price,
	.autoship_cart_pro_qv_total {
		margin-bottom: 5px;
	}
	.autoship_cart_pro_name span {
		font-size: 14px;
		display: inline-block;
		width: 80%;
	}
	.autoship_cart_pro_qv span,
	.autoship_cart_pro_qv_total span {
		font-weight: 500;
	}
	.autoship_cart_pro_qv span, 
	.autoship_cart_pro_price span, 
	.autoship_cart_pro_qv_total span {
		font-size: 14px;
	}
	.table_content .cart_pro_total span {
		font-size: 14px;
	}
	.autoship_shop_head {
		font-size: 24px;
	}
	.table_title .cart_all_chk {
		padding-left: 7px;
	}
	.cart_all_chk {
		width: 35px;
	}
	.autoship_pay_result p b {
		font-size: 16px;
	}
	.order_complete_content h1 {
		font-size: 26px;
		padding: 20px 0;
	}
	.order_complete_center {
		margin-top: 30px;
	}
	.order_complete_center p {
		font-size: 22px;
	}
	.order_com_box_right div {
		padding: 5px 0;
	}
	.order_com_box_right div span {
		font-size: 14px;
	}
	.order_complete_btns button {
		width: calc(50% - 2px);
		font-size: 16px;
	}
	.foot_btns_sns {
		padding-right: 0;
	}
	.foot_sns {
		text-align: center;
	}
	header .logo > a {
		display: flex;
    align-items: center;
    justify-content: center;	
	}
	.t_content_ask_detail {
		padding: 25px;
	}
	#wuurii_map {
		height: 400px;
	}
	.com_news_item h5 {
		font-size: 16px;
	}
	.com_news_item p {
		font-size: 15px;
	}
	.com_news_item span {
		font-size: 13px;
	}
	.no_detail_head > h2 {
    font-size: 18px;
	}
	.no_detail_head > div span {
    font-size: 13px;
	}
	.no_detail_head > div em {
    font-size: 13px;
	}
	.no_detail_head > div span {
		font-size: 13px;
	}
	.go_notice_list {
		min-width: 100%;
    font-size: 14px;	
	}
	.sns_intro_h2, 
	.company_news_h2 {
		font-size: 28px;
		margin: 30px 0;
	}
	.company_news {
		padding-top: 20px;
	}
	.main-b img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center center;
	}
	.main_banner_pc {
		display: none;
	}
	.main_banner_mobile {
		display: block;
	}
	#main_banner .swiper-button-next:after {
		content: url(../img/main/mo_swiper-next.png);
	}
	#main_banner .swiper-button-prev:after {
		content: url(../img/main/mo_swiper-prev.png);
	}
	.swiper-button-prev-best {
		left: 10px;
	}
	.swiper-button-next-best {
		right: 10px;
	}
	.swiper-button-next-new {
		width: auto;
	}
	.gotop {
		right: 20px;
	}
	.gotop.active {
		bottom: 20px;
	}
}


@media (max-width: 650px) {
	.new_product_bg {
		height: 550px;
	}
	.new_product_heading a {
		bottom: -422px;
	}
	.hover_buy button {
		width: 35px;
		height: 35px;
	}
	.hover_buy button img {
		width: 17px;
	}
	.new_product_heading a {
		bottom: -390px;
	}
	.cate_item.cate_item_slide {
		height: 600px;
	}
	.cate_center_item img {
		height: 600px;
	}
	.go_ask_list,
	.go_modify {
		width: 100%;
	}
	.go_modify {
		margin-top: 10px;
	}
}
@media (max-width: 550px) {
	.pro_price_box_hover {
		width: 100%;
	}
	.brand_left_tab_panel ul {
		justify-content: space-between;
	}
	.my_pagination {
		bottom: 20px;
	}
}

@media (max-width: 500px) {
	.swiper-new {
		padding: 0 27%;
	}
	.new_product_bg {
		height: 540px;
	}
	.new_product_heading a {
		bottom: -370px;
	}
	.cate_item.cate_item_slide {
		height: 470px;
	}
	.cate_center_item img {
		height: 470px;
	}
	.join_com_btns a {
		width: calc(50% - 10px);
	}
	.pay_inner_rows > span {
		display: block;
	}
	.pay_inner_rows input.card_period,
	.pay_inner_rows input.card_f_num {
		margin-bottom: 3px;
	}
	.pay_inner_rows > span {
		margin-bottom: 5px;
	}
	.brand_item {}
	.brand_container > a {
		width: 100%;
	}
	.video_item,
	.company_news_content > a {
		width: 100%;
	}
	.ourmission_bot_content {
		background: none;
		height: auto;
	}
	.our_box_wrap {
		margin-bottom: 10px;
	}
	.ourmission_mid {
		padding: 15px;
	}
	.autoship_order_last_btns button {
		width: calc(50% - 2px);
		font-size: 16px;
	}
	.brand_left_tab_panel ul li a {
		font-size: 13px;
	}
	.brand_left_tab_panel ul li a.active {
		font-size: 16px;
	}
	.simple_login_add_btns {
		flex-wrap: wrap;
	}
	.simple_login_add_btns button {
		width: 100%;
	}
	header .logo img {
		width: 135px;
	}
}

@media (max-width: 450px) {
	.pg_num_center a {
		margin: 5px;
	}
	.who_content:before {
		height: 500px;
	}
	.our_right img {
		width: 100%;
	}
	.our_box_wrap {
		flex-wrap: wrap;
	}
	.our_box {
		min-width: 100%;
	}
}

@media (max-width: 400px) {
	.new_product_bg {
		height: 500px;
	}
	.new_product_heading a {
		bottom: -330px;
	}
	.cate_item {
		height: 175px;
	}
	.cate_item.cate_item_slide {
		height: 370px;
	}
	.cate_center_item img {
		height: 370px;
	}
	.brand_left_tab_panel ul li {
		width: 25%;
	}
	.bottom_banner_left, 
	.bottom_banner_right {
		height: 250px;
	}
	.faq_top {
		padding: 15px;
	}
	.intro_desc {
		padding: 0;
	}
	.who_big {
		height: 400px;
	}
	.who_big_feature p {
		padding: 0 10px;
	}
	.my_pagination {
		font-size: 10px;
		padding: 2px;
	}
	.swiper-pagination-current {
		font-size: 14px;
	}
}