.top_common_banner {
	height: 400px;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.top_common_banner.shopping_page {
	background-image: url(../img/shop/shopping_top_bg.jpg);
}
.top_common_banner.subscribe_shopping_page {
	background-image: url(../img/shop/subscribe_shopping_top_bg.jpg);
}
.top_common_banner.autoship_shopping_page {
	background-image: url(../img/shop/autoship_shopping_top_bg.jpg);
}
.top_common_banner.brand_page {
	background-image: url(../img/shop/brand_top_bg.jpg);
}
.top_common_banner_heading {
	position: absolute;
	top: 130px;
	left: 460px;
}
.top_common_banner_heading h1 {
	font-weight: 600;
	font-size: 52px;
	color: #fff;
}
.top_common_banner_heading h1 span {
	display: block;
	font-size: 30px;
	font-weight: 400;
}
.product_list_wrap {
	/* padding-bottom: 120px; */
}
.product_list_search {
	text-align: right;
	padding: 30px 0;
}
.product_list_search select {
	width: 13%;
	min-width: 100px;
	padding: 5px;
	border: none;
	border-bottom: 2px solid #5b5b5b;	
	font-weight: 500;
	color: #5b5b5b;
}
.product_list_search select:last-child {
	margin-left: 10px;
}
.pro_list {}
.pro_list_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}
.pro_list_top_left {}
.pro_list_top_left span {
	font-weight: 500;
	color: #5b5b5b;
}
.pro_list_top_left span b {
	color: #fc3919;
}
.pro_list_top_right {}
.pro_list_top_right select {
	background-color: #f6f6f6;
	border-radius: 60px;
	padding: 9px 50px;
	font-size: 14px;
	border: none;
}
.pro_list_content {
	display: flex;
	gap: 70px 30px;
	flex-wrap: wrap;
	padding-bottom: 50px;
	position: relative;
}
.pro_item_empty {
	width: 100%;
	text-align: center;
	padding-bottom: 300px;
}
.pro_item_empty h1 {
	font-size: 30px;
	padding: 60px 0;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}
.pro_item {
	width: calc(330px - 3px);
	transition: 0.35s;
	padding-bottom: 29px;
	position: relative;
}
.pro_item .border {
	border: 1px solid transparent;
	transition: 0.35s;
}
.pro_item:hover .border {
	border-color: #000;
}
.pro_img_box {
	position: relative;
	width: 100%;
}
.pro_img_box:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}
.pro_img_box img {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left : 0;
  object-fit: cover;
  object-position: center;

}
.pro_name_box {
	text-align: center;
}
.pro_name_box span {
	font-size: 14px;
	color: #5b5b5b;
	position: relative;
}
.pro_name_box span:after {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 13px;
	background-color: #fbf2ec;
	z-index: -1;
}
.pro_name_box p {
	height: 48px;
	padding: 0 15px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pro_price_box {
	text-align: center;
	position: absolute;
	width: 100%;
}
.pro_price_box span {
	font-size: 18px;
	font-weight: 500;
}
.pro_price_box span b {
	font-weight: 600;
}
.pro_price_box_hover {
	position: absolute;
	background-color: #000;
	width: 100%;
	top: 0;
	left: 0;
	padding: 16px;
	text-align: center;
	transition: 0.35s;
	opacity: 0;
	visibility: visible;
}
.pro_price_box_hover a {
	font-weight: 500;
	color: #fff;
}
.pro_price_box_hover button {
	position: absolute;
	background-color: transparent;
	top: 11px;
	right: 15px;
}
.pro_price_box_hover button img {}
.pro_item:hover .pro_price_box_hover {
	opacity: 1;
	visibility: visible;
}
.page_number_wrap {
	display: flex;
	justify-content: center;
	padding: 30px 0;
	/* padding-bottom: 50px;	 */
}
.pg_num_center {}
.pg_num_center button {
	margin: 0 8px;
}
.pg_num_center button img {}
.pg_num_center a {
	display: inline-block;
	color: #5b5b5b;
	margin: 12px;
	/* background-color: #f6f6f6; */
	background-color: transparent;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	position: relative;
}
.pg_num_center a.on {
	background-color: #f6f6f6;
}
.pg_num_center a.on:after {
	background-color: #5b5b5b;
	opacity: 1;
	visibility: visible;
}
.pg_num_center a:after {
	content: '';
	position: absolute;
	/* background-color: #5b5b5b; */
	background-color: transparent;
	width: 100%;
	height: 2px;
	bottom: -5px;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.product_detail_wrap {}
.product_top_box {
	display: flex;
	justify-content: space-between;
	padding: 70px 20px;
	border: 1px solid #d7d7d7;
	gap: 20px;
}
.product_top_box > div {
	width: 50%;
}
.pro_top_left {}
.pro_thumb_box img {
	width: 100%;
}
.pro_top_right {}
.pro_top_right > span {
	font-weight: 500;
	position: relative;
}
.pro_top_right > span:after {
	content: '';
	background-color: #f6e9e9;
	position: absolute;
	width: 105%;
	height: 17px;
	top: 11px;
	left: -2px;
	z-index: -1;
}
.pro_top_right_heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	position: relative;
}
.pro_top_right_heading > h2 {
	font-size: 36px;
}
.pro_top_right_heading > a {
	position: relative;
}
.pro_top_right_heading > a img {}
.pro_top_right > em {
	color: #acacac;
	font-style: normal;
}
.pro_top_right > p {
	font-size: 14px;
	color: #666161;
	padding: 20px 10px;
	margin-top: 20px;
	/* border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;	 */
}
.pro_top_right_price_box {
	padding: 0 10px;
}
.pro_top_right_rows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.p_rows_left {}
.p_rows_left b {
	font-weight: 500;
}
.p_rows_right {}
.p_rows_right span {}
.p_rows_right span.bold {
	font-weight: 600;
}
.p_rows_right span em {
	font-style: normal;
}
.pro_top_right_rows_last {
	background-color: #f7f7f7;
	border-radius: 10px;
	padding: 10px 20px;
	padding-bottom: 20px;
	margin: 10px 0;
}
#product_detail_subscribe .pro_top_right_rows_last {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pro_top_right_rows_last > p {
	font-size: 14px;
	color: #666161;
	padding-bottom: 15px;
}
#product_detail_subscribe .pro_top_right_rows_last > p {
	padding-bottom: 0;
}
.pro_top_right_rows_last > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pro_top_right_alert {
	display: flex;
	padding: 15px 20px;
	border: 1px solid #898989;
	border-radius: 5px;
	gap: 10px;
	margin: 10px 0;
	margin-bottom: 20px;
}
.pro_top_right_alert > div {
	padding-top: 1px;
}
.pro_top_right_alert p {
	font-size: 14px;
}
.l {
	border: 1px solid #ccc;
	display: flex;	
}
.l.simple_buy_subs {
	border: none;
}
.l.simple_buy_subs p {
	font-size: 14px;
	color: #666161;
}
.l button {
	width: 30px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.l button img {}
.l input {
	width: 35px;
	border: none;
	font-size: 14px;
	font-weight: 500;
	color: #898989;
	text-align: center;
	padding: 5px;
}
.r {}
.r span {
	font-size: 24px;
	color: #666161;
}
.r span em {
	font-size: 14px;
	font-style: normal;
}
.r span b {
	color: #fc3919;
}

.pro_top_right_rows_btns {
	display: flex;
	justify-content: space-between;
	gap: 10px;	
}
.pro_top_right_rows_btns_subscribe a {
	font-size: 18px;
	display: block;
	width: 100%;
	text-align: center;
	padding: 17px;
	border-radius: 10px;
	border: 2px solid #000;
	background-color: #000;
	color: #fff;
}
.pro_top_right_rows_btns a {
	font-size: 18px;
	font-weight: 500;
	width: 50%;
	text-align: center;
	padding: 17px;
	border-radius: 10px;
}
.pro_top_right_rows_btns a:first-child {
	border: 2px solid #000;
}
.pro_top_right_rows_btns a:last-child {
	border: 2px solid #000;
	background-color: #000;
	color: #fff;
}

.product_detail_wrap .swiper-pagination-bullet {
	width: 10px !important;
	height: 10px !important;
	margin: 0 7px !important;
}
.product_detail_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #73d34d;
}

.sns_share_box {
	position: absolute;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	padding: 20px 30px;
	top: 70px;
	right: -13px;	
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 30%);
	display: none;
}
.sns_share_box p {
	font-weight: 500;
	font-size: 18px;
	color: #666161;
	margin-bottom: 15px;
}
.sns_share_box button {
	position: absolute;
	top: 20px;
	right: 20px;
}
.sns_share_box .sns a {
	margin: 5px;
}
.sns_share_box .sns a:first-child {
	margin-left: 0;
}
.sns_share_box .sns a:last-child {
	margin-right: 0;
}

.product_detail_box {}
.product_detail_tab_btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d7d7d7;
	margin-top: 20px;
}
.product_detail_tab_btns a {
	font-weight: 500;
	font-size: 18px;
	color: #acacac;
	width: 33.3333%;
	text-align: center;
	padding: 20px 0;
	position: relative;
	border-bottom: 2px solid transparent;
}
.product_detail_tab_btns.subscribe_detail_btns a {
	width: 50%;
}
.product_detail_tab_btns a:after {
	content: '';
	position: absolute;
	background-color: #73d34d;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.product_detail_tab_btns a.on {
	color: #000;
	border-bottom-color: #73d34d;
}
.product_detail_tab_btns a.on:after {
	display: block;
}
.product_detail_content {}
.product_detail_tab {
	display: none;
	padding: 30px;
}
.product_detail_tab.active {
	display: block;
}
.product_detail_tab img {
	width: 100%;
}
.product_detail_img {
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
}
.product_detail_img img {
	width: 100%;
}
#tab3 {
	padding: 30px;
}
#tab3 > h3 {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 20px;
}
.tab3_box {
	background-color: #f6f6f6;
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 30px;
}
.tab3_box > div {
	margin-bottom: 20px;
}
.tab3_box > div:last-child {
	margin-bottom: 0;
}
.tab3_box h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
.tab3_box p {
	font-size: 15px;
	color: #666161;
	line-height: 1.5em;
}
.tab3_box p:before {
	content: '-';
	margin-right: 5px;
}
.buy_layer {
	display: none;
}
.simple_buy_pop {
	display: none;
}
.cart_layer_popup {
	position: fixed;
	width: 425px;
	height: 100%;
	background-color: #f6f6f6;
	top: 0;
	right: -100%;
	z-index: 60;
	transition: 0.5s;
	overflow-y: auto;
}
.cart_layer_popup_close {
	position: absolute;
	background-color: transparent;
	top: 20px;
	right: 10px;
}
.cart_layer_popup.active {
	right: 0;
}
.cart_layer_popup > h3 {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	padding: 30px;
	background-color: #fff;
}
.cart_bg {}
.cart_bg_inner {
	padding: 0 20px;
}
.accordion_box {
	margin: 20px 0;
}
.accordion_btn {
	font-weight: 500;
	font-size: 18px;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #000;
}
.accordion_btn.on {
	border-color: #fc6d04;
}
.accordion_btn:after {
	content: url(../img/shop/accordion_down.png);
	float: right;
	transition: 0.35s;
}
.accordion_btn.on:after {
	transform: rotate(-180deg);
}
.slide {
	display: none;
}
.pick_item {
	display: flex;
	gap: 15px;
	padding: 20px 0;
	align-items: center;
	border-bottom: 1px solid #898989;
}
.pick_item_empty {}
.pick_item_empty h1 {
	text-align: center;
	font-size: 18px;
	padding: 40px 0;	
}
.subscribe_item_empty {
	text-align: center;
	padding-bottom: 300px;
}
.subscribe_item_empty h1 {
	font-size: 30px;
	padding: 60px 0;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
}
.cart_item_empty {}
.cart_item_empty h1 {
	text-align: center;
	font-size: 24px;	
	padding: 60px 0;
	border-bottom: 1px solid #777;
}
.pick_item_img {
	width: 80px;
	height: 80px;
}
.pick_item_img img {
	width: 100%;
}
.pick_item_info {
	width: calc(100% - 95px);
	position: relative;
}
.item_name {}
.item_name h4 {
	font-weight: 500;
	font-size: 16px;
}
.item_rows {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 7px 0;
}
.item_rows p {
	min-width: 55px;
	font-size: 14px;
}
.item_rows span {
	color: #959595;
}
.item_rows span b {
	font-weight: 400;
}
.item_price_rows {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item_price_rows span {}
.item_price_rows span b {}
.item_remove_btn {
	position: absolute;
	top: 2px;
	right: 2px;
	background-color: transparent;
}
.bill_box {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;
}
.bill_rows {
	display: flex;
	justify-content: space-between;
	padding: 7px 0;
}
.bill_rows p {
	font-weight: 500;
	color: #5b5b5b;
}
.bill_rows em {
	font-weight: 600;
	color: #5b5b5b;
}
.bill_rows span {
	color: #5b5b5b;
}
.bill_rows span b {
	color: #000;
}
.cart_layer_order_btn {
	background-color: #fc6d04;
	color: #fff;
	font-size: 18px;
	width: 100%;
	padding: 12px;
	border-radius: 5px;
}
.cart {}
.cart_wrap {
	padding: 50px 0;
	min-height: calc(100vh - 401px);
}
.cart_top_btns {
	display: flex;
	padding-bottom: 40px;
}
.cart_top_btns button {
	display: inline-block;
	width: 50%;
	font-size: 18px;
	font-weight: 500;
	color: #c1c1c1;
	border: 1px solid #d7d7d7;
	padding: 12px;
}
.cart_top_btns button.on {
	border: 2px solid #000;
	color: #000;
}
.cart_content {}
.cart_common_head {
	color: #010220;
	font-weight: 500;
	font-size: 24px;
	padding-bottom: 30px;
}

.cart_table {}
.table_title {
	border-top: 2px solid #000;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.table_content {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.table_title,
.table_content {
	display: flex;
}
.table_title span {
	color: #666161;
	font-weight: 500;
	font-size: 16px !important;
}
.table_content .cart_pro_name span {
	font-size: 15px;
	font-weight: 500;
}
.table_content .cart_pro_price span {
	font-size: 15px;
}
.table_content .cart_pro_price span b {
	font-weight: 400;
}
.table_content .cart_pro_pv span,
.table_content .cart_pro_pv3 span {
	font-size: 15px;
	font-weight: 600;
}
.table_content .cart_pro_total span {
	font-weight: 500;
	font-size: 15px;
	color: #666161;
}
.table_content .cart_pro_total span b {}
.cart_all_chk {
	width: 70px;
	text-align: center;
}
.cart_all_chk input {}
.cart_all_chk label {}
.cart_all_chk label em {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/member/chk_btn.png) no-repeat center left;
}
.cart_all_chk input:checked + label em {
	background-position: center right;
}
.cart_table_mid_box {
	width: calc(70% - 70px);
	display: flex;
	align-items: center;
}
.cart_pro_img {
	width: 10%;
	text-align: center;
}
.cart_pro_name {
	width: 60%;
	text-align: center;
}
.cart_pro_ea {
	width: 20%;
	text-align: center;
}
.cart_pro_price {
	width: 10%;
	text-align: center;
}
.cart_pro_pv,
.cart_pro_pv3 {
	width: 10%;
	text-align: center;
}

.cart_pro_total {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart_pro_empty {
	width: 10%;
}
.cart_pro_img img {
	width: 100%;
}
.cart_pro_ea > div {
	width: 92px;
	margin: auto;
}
.cart .l button {
	background-color: #f5f5f5;
}
.cart_pro_empty {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 10px;
}
.cart_pro_empty a {
	border: 1px solid #010220;
	color: #000;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 13px;
	width: 72px;
	height: fit-content;
}
.cart_pro_img > div {
	width: 100px;
	height: 100px;
	margin: auto;
}
.cart_all_chk > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart_pro_remove {
	display: none;
}
.cart_sel_btns {
	padding: 15px;
}
.cart_sel_btns button {
	font-size: 14px;
	font-weight: 500;
	border-radius: 3px;
	padding: 8px 20px;
}
.cart_sel_btns button:first-child {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
}
.cart_sel_btns button:last-child {
	border: 1px solid #000;
	background-color: #f1f1f1;
	color: #000;
}
.cart_result_box {
	background-color: #f6f6f6;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 15px;
	padding: 30px;
}
.cart_result_rows {
	display: flex;
	align-items: center;
	gap: 10px;
}
.cart_result_rows p {
	font-size: 14px;
	font-weight: 500;
	color: #acacac;
}
.cart_result_rows span {
	color: #acacac;
}
.cart_result_rows span b {
	font-weight: 400;
}
.cart_result_rows span em {
	font-weight: 600;
	font-size: 18px;
	color: #000;
}
.c_img {
	padding-top: 5px;
}
.cart_result_btns {
	text-align: center;
	margin-top: 30px;
}
.cart_result_btns a {
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	width: 220px;
	text-align: center;
	border-radius: 8px;
	padding: 15px;
}
.cart_result_btns a:first-child {
	color: #fc6d04;
	border: 1px solid #fc6d04;
	background-color: #fff;
}
.cart_result_btns a:last-child {
	color: #fff;
	border: 1px solid #fc6d04;
	background-color: #fc6d04;
}
.table_title.cart_rental .cart_table_mid_box,
.table_content.cart_rental .cart_table_mid_box {
	width: 80%;
}
.table_content.cart_rental .cart_pro_ea {
	color: #666161;
}
.table_content.cart_rental .cart_pro_ea b {
	font-weight: 400;
}
.cart_result_box.cart_rental,
.cart_result_box.cart_subscribe {
	margin-top: 30px;
}
.cart_result_box.cart_subscribe {
	margin-bottom: 30px;
}
.cart_result_box.cart_rental .cart_result_rows span {}
.cart_result_box.cart_rental .cart_result_rows span b {
	color: #000;
	font-weight: 600;
}
.cart_common_title {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
}

.table_title.cart_subscribe .cart_table_mid_box,
.table_content.cart_subscribe .cart_table_mid_box {
	width: calc(90% - 70px);
}
.table_title.cart_subscribe .cart_pro_name,
.table_content.cart_subscribe .cart_pro_name {
	width: 75%;
}
.table_title.cart_subscribe .cart_pro_price,
.table_title.cart_subscribe .cart_pro_pv,
.table_content.cart_subscribe .cart_pro_price,
.table_content.cart_subscribe .cart_pro_pv {
	width: 12.5%;
}
.cart_result_box.cart_subscribe .cart_result_rows span b {
	color: #000;
	font-weight: 600;
}

.subscribe_set_wrap {
	margin-bottom: 40px;
}
.subscribe_set {
	border-top: 2px solid #000;
}
.subs_rows {
	border-bottom: 1px solid #d7d7d7;
	display: flex;
}
.subs_rows_left {
	padding: 20px 30px;
	background-color: #f8f8f8;
	min-width: 142px;
}
.subs_rows_left span {
	font-weight: 500;
	font-size: 14px;
}
.subs_rows_right {
	padding: 20px 30px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.subs_rows_right img {}
.subs_rows_right em {
	font-size: 14px;
	color: #898989;
}
.subscribe_set_result {
	background-color: #f8f8f8;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	margin-top: 30px;
}
.subscribe_set_result p {
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 10px;
}
.subscribe_set_result p span {
	text-decoration: underline;
}
.subscribe_set_result p span small {
	font-size: 20px;
}
.subscribe_set_result p em {
	color: #fc3919;
	padding-left: 10px;
}
.subscribe_set_result span {
	font-size: 18px;
}
.subscribe_set_result span label strong {
	color: #fc6d04;
	font-weight: 400;
}
.subscribe_set_result span label b {
	color: #fc3919;
	font-weight: 400;
}
.subs_agree_desc_wrap {
	overflow-y: auto;
	border: 1px solid #ccc;	
}
.subs_agree_desc {
	max-height: 200px;
	padding: 20px;
}
.subs_agree_desc h2 {
	font-size: 20px;
	padding-bottom: 10px;
}
.subs_agree_desc p {
	font-size: 14px;
}
.subs_agree_desc h3 {
	padding: 10px 0;
}
.subs_agree_chk {
	margin-top: 10px;
}
.subs_agree_chk label {
	font-size: 16px !important;
}
.subs_agree_chk label em {
	min-width: 20px;
}

.table_title.cart_order, 
.table_content.cart_order {
	padding: 15px 10px;
}
.order {}
.order_common_head {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 15px;
}
.order_wrap {
	display: flex;
	padding: 50px 0;
}
.order_left {
	width: 70%;
}
.order_right {
	width: 30%;
	padding-left: 40px;
	padding-top: 50px;
}
.table_title.order_overseas .cart_table_mid_box,
.table_content.order_overseas .cart_table_mid_box {
	width: 80%;
}
.table_title.order_rental .cart_table_mid_box,
.table_content.order_rental .cart_table_mid_box {}
.cart_table_mid_box.order_overseas .cart_pro_name {
	width: 40%;
}
.cart_table_mid_box.order_rantal .cart_pro_name {
	width: 80%;	
}
.cart_table_mid_box.order_overseas .cart_pro_ea {}
.cart_table_mid_box.order_overseas .cart_pro_price {
	width: 20%;
}
.cart_table_mid_box.order_overseas .cart_pro_pv,
.cart_table_mid_box.order_overseas .cart_pro_pv3 {
	width: 20%;
}
.cart_result_box.order_overseas {
	margin: 15px 0;
}
.order_pro_info {
	margin-bottom: 40px;
}
.orderer_info {
	margin-bottom: 40px;
}
.orderer_wrap {
	border-top: 2px solid #000;
	border-bottom: 1px solid #d7d7d7;
}
.order_common_rows {
	display: flex;
	align-items: center;
}
.o_left {
	padding: 10px 20px;
	padding-left: 35px;
	min-width: 155px;
}
.o_left span {
	font-size: 14px;
	font-weight: 500;
}
.o_right {
	width: calc(100% - 135px);
	padding: 10px 20px;
}
.o_right p {
	font-size: 14px;
}
.o_right div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.o_right div button {
	font-size: 14px;
	background-color: #f6f6f6;
	border: 1px solid #666161;
	border-radius: 5px;
	padding: 5px 20px;
}
.del_info {
	margin-bottom: 40px;
}
.pay_method {
	margin-bottom: 40px;
}
.o_right select {
	border: 2px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	color: #666161;
	font-size: 14px;
	max-width: 440px;
	width: 100%;
	margin-bottom: 7px;
}
.o_right > input {
	display: block;
	border: 2px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	color: #666161;
	font-size: 14px;
	max-width: 440px;
	width: 100%;
}
.o_right > input::placeholder {
	color: #d7d7d7;
}
.order_common_rows.align_start {
	align-items: flex-start;
}
.order_common_rows.align_start .o_left {
	padding-top: 15px;
}
.o_right > input.private_number {
	max-width: 180px;
	margin-top: 0;
	margin-bottom: 10px;
}
.private_number_rows {
	border-top: 1px dashed #d7d7d7;
}
.o_right ul li {
	font-size: 14px;
	color: #666161;
	line-height: 1.8em;
}
.o_right ul li a {
	font-size: 14px;
	color: #4ba871;
}
.private_number {
	margin: 10px 0;
}
.private_number label {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
}
.private_number label em {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/member/chk_btn.png) no-repeat center left;
}
.private_number input[type=checkbox]:checked + label em {
	background-position: center right;
}
.pay_method_wrap {
	padding: 20px 30px;
}
.pay_method_wrap input[type=radio] {}
.pay_method_wrap label {
	display: inline-block;
	background-color: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #acacac;
	width: 125px;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	margin-right: 3px;
	margin-bottom: 10px;
}
.pay_method_wrap input[type=radio]:checked + label {
	color: #fc6d05;
	border-color: #fc6d05;
	background-color: #fff;
}
.pay_method_tab {
	display: none;
}
.pay_method_wrap #cr_card_chk:checked ~ .card_tab {
	display: block;
}
.pay_method_wrap #acc_num_chk:checked ~ .acc_num_tab {
	display: block;
}
.pay_inner_rows {}
.pay_inner_rows input {
	border: 1px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	max-width: 400px;
	width: 100%;
	margin-bottom: 10px;
}
.pay_inner_rows input.card_period {
	max-width: 70px;
}
.pay_inner_rows input.card_period::placeholder {
	color: #cbc9c9;
	text-align: center;
}
.pay_inner_rows input.card_f_num {
	max-width: 80px;
	text-align: center;
}
.pay_inner_rows select {
	border: 1px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	max-width: 400px;
	width: 100%;
	margin-bottom: 10px;
}
.pay_inner_rows > span {
	font-size: 14px;
	color: #cbc9c9;
}
.pay_inner_rows p {
	font-size: 14px;
}
.pay_inner_rows h3 {
	font-size: 20px;
	margin: 10px 0;
}
.pay_method_wrap label.cash_bill_chk {
	width: 130px;
}
.cash_bill_tab {
	display: none;
}
#cash_bill_pri:checked ~ .pri_tab,
#cash_bill_com:checked ~ .com_tab {
	display: block;
}
.order_point_info {
	margin-bottom: 40px;
}
.orderer_wrap {}
.point_rows {
	display: flex;
	align-items: center;
}
.p_left {
	padding: 10px 20px;
	padding-left: 35px;
	min-width: 135px;
}
.p_left span {
	font-weight: 500;
	font-size: 14px;
}
.p_right {
	width: calc(100% - 135px);
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.p_right p {
	font-size: 14px;
}
.p_right p b {
	color: #fc3919;
	font-weight: 400;
}
.p_right div {
	border: 2px solid #d7d7d7;
	border-radius: 5px;
	font-size: 14px;
	overflow: hidden;
	position: relative;
	width: 300px;
}
.p_right div input {
	padding: 10px;
	border: none;
	width: 100%;
}
.p_right div button {
	position: absolute;
	background-color: #000;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	right: 0;
	width: 70px;
	height: 100%;
}
.order_right_result_wrap {
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
}
.order_right_result {
	background-color: #fff;
}
.order_right_result h4 {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 20px;
}
.order_right_bg {
	background-color: #fafafa;
	padding: 10px 0;
}
.order_right_inner {
	padding: 0 30px;
}
.result_rows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 0;
}
.result_rows p {
	color: #acacac;
	font-size: 14px;
	width: 75%;
}
.result_rows span {
	width: 20%;
	min-width: 100px;
	font-weight: 500;
	font-size: 14px;
	text-align: right;
}
.result_rows span b {}
.result_rows strong {
	font-weight: 500;
	font-size: 14px;
	width: calc(100% - 110px);
}
.result_rows em {
	font-weight: 500;
	font-size: 18px;
	color: #fc3919;
	min-width: 105px;
	text-align: right;
}
.result_rows em b {
	font-weight: 500;
}
.result_rows.last {
	border-top: 1px solid #acacac;
}
.dopay {
	display: block;
	width: 100%;
	background-color: #fc3919;
	padding: 15px;
	color: #fff;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
}
.order_right_wrap.active {
	position: fixed;
	width: 380px;
	top: 121px;
}
.orderer_info_change_pop {
	position: fixed;
	width: 560px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	z-index: 52;
	opacity: 0;
	visibility: hidden;
	transition: 0.35s;
}
.orderer_info_change_pop.active {
	opacity: 1;
	visibility: visible;
}
.orderer_info_change_pop h2 {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	border-bottom: 1px solid #5b5b5b;
	padding: 10px 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.order_pop_wrap {}
.order_pop_rows {
	margin-bottom: 20px;
}
.order_pop_rows p {
	font-size: 14px;
	font-weight: 500;
	color: #5b5b5b;
	margin-bottom: 5px;
}
.order_pop_rows p b {
	color: #fc3919;
	font-weight: 500;
	font-size: 16px;
}
.order_pop_rows input {
	width: 100%;
	border: 1px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	color: #5b5b5b;
}
.orderer_info_change_pop > button {
	font-size: 18px;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	padding: 12px;
	width: 100%;
	margin-top: 15px;
}
.orderer_info_change_pop_close {
	position: absolute;
	top: -20px;
	right: -20px;
}
.del_info_change_pop {
	position: fixed;
	width: 560px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	z-index: 52;
	transition: 0.35s;	
	opacity: 0;
	visibility: hidden;
}
.del_info_change_pop.active {
	opacity: 1;
	visibility: visible;
}
.del_info_change_pop > h2 {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	border-bottom: 1px solid #5b5b5b;
	padding: 10px 0;
	padding-bottom: 20px;
	margin-bottom: 20px;	
}
.del_tab_btns {
	display: flex;
	margin-bottom: 30px;
}
.del_tab_btns > button {
	background-color: #f6f6f6;
	border: 1px solid #acacac;
	color: #acacac;
	font-size: 14px;
	width: 50%;
	padding: 10px;
}
.del_tab_btns > button.on {
	color: #fc6d04;
	border-color: #fc6d04;
	background-color: #fff;
}
.del_tab_wrap {}
.del_tab {
	display: none;
}
.del_tab.active {
	display: block;
}
.address_box_wrap,
.del_form_wrap {
	max-height: 60vh;
	overflow-y: auto;
}
.address_box {
	display: flex;
	gap: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d7d7d7;
}
.add_left {
	min-width: 20px;
	padding-top: 3px;
}
.add_left label {
	cursor: pointer;
}
.add_left em {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/member/radio_btn.png) no-repeat center left;
}
.add_left input:checked + label em {
	background-position: center right;
}
.add_right {
	width: calc(100% - 20px);
}
.add_right_top {
	margin-bottom: 10px;
}
.add_right_top label {
	cursor: pointer;
}
.de_del_badge {
	color: #fc6d05;
	background-color: #f1f1f1;
	font-size: 12px;
	padding: 3px 10px;
	border-radius: 5px;
	display: none;
}
.de_del_badge.on {
	display: inline-block;
}
.add_right_rows {
	display: flex;
	padding: 7px 0;
	gap: 10px;
}
.add_right_rows span {
	background-color: #d7d7d7;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;
	min-width: 54px;
	text-align: center;
	height: fit-content;
}
.add_right_rows p {
	font-size: 14px;
	display: flex;
	align-items: center;
	width: calc(100% - 54px);
}
.add_right_rows_btns {}
.add_right_rows_btns button {
	font-size: 13px;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 3px 14px;
	color: #555;
}
.del_change_activate {
	color: #fff;
	font-size: 18px;
	background-color: #000;
	width: 100%;
	border-radius: 5px;
	padding: 12px;
	margin-bottom: 20px;
}
.del_info_change_pop_close {
	position: absolute;
	top: -20px;
	right: -20px;
	background-color: transparent;
}
.address_box_empty {
	padding: 50px 0;
	padding-bottom: 70px;
}
.address_box_empty p {
	text-align: center;
}
.del_form_wrap {}
.del_form_rows {
	margin-bottom: 10px;
}
.del_form_rows p {
	font-size: 14px;
	font-weight: 500;
	color: #5b5b5b;
	margin-bottom: 7px;
}
.del_form_rows p b {
	font-weight: 500;
	font-size: 16px;
	color: #fc3919;
}
.del_form_rows > input {
	width: 100%;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
}
.del_form_rows input::placeholder {
	font-size: 14px;
	color: #acacac;
}
.del_pop_post_code {}
.del_pop_post_code div {}
.del_pop_post_code div input {
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	width: 100%;
	margin-bottom: 5px;
}
.del_pop_post_code div input:nth-of-type(1) {
	width: calc(100% - 78px);
}
.del_pop_post_code div button {
	background-color: #fafafa;
	font-weight: 500;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 10px;
	min-width: 74px;
	margin-left: 0;
}
.de_del_set {}
.de_del_set label {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.de_del_set label em {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/member/chk_btn.png) no-repeat center left;
	min-width: 20px;
}
.de_del_set input:checked + label em {
	background-position: center right;
}
.new_del_resister_btn {
	color: #fff;
	font-size: 18px;
	background-color: #000;
	width: 100%;
	border-radius: 5px;
	padding: 12px;
	margin: 20px 0;
	margin-bottom: 21px;
}
.tab1_wrap {
	width: 1000px;
	margin: auto;
}
.tab2_table {
	width: 100%;
}
.tab2_table tr {}
.tab2_table tr th {
	font-weight: 400;
	width: 30%;
	background-color: #f5f5f5;
}
.tab2_table tr td {
	width: 70%;
	color: #555;
}
.tab2_table tr th,
.tab2_table tr td {
	border: 1px solid #ccc;
	text-align: center;
	padding: 10px;
}
.tab2_empty {
	text-align: center;
	padding-bottom: 30px;
	font-size: 18px;
}
.brand_list_wrap {
	padding: 80px 0;
}
.brand_ea {
	color: #555;
	font-weight: 500;
	margin-bottom: 30px;
}
.brand_ea em {
	color: #fc3919;
}
.brand_container {
	display: flex;
	gap: 70px 20px;
	flex-wrap: wrap;
}
.brand_container > a {
	width: calc(33.3333% - 13.4px);
}
.brand_item {}
.brand_item_photo {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.brand_item_photo:hover .brand_item_overlay {
	opacity: 1;
	visibility: visible;
}
.brand_item_photo > img {
	width: 100%;
	display: block;
}
.brand_name {
	color: #555;
	text-align: center;
	margin-top: 10px;
}
.brand_item_overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.brand_item_overlay img {
	max-width: 180px;
}
.brand_detail_con {
	padding: 100px 0;
}
.brand_detail_con > h2 {
	font-size: 30px;
	padding: 60px 0;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;	
	text-align: center;
}

.search_result_wrap {
	padding: 50px 0;
	min-height: calc(100vh - 423px);
}
.search_result {}
.result_intro {
	text-align: center;
	font-size: 24px;
	padding-bottom: 50px;
}
.result_intro b {
	color: #fc6d05;
	font-weight: 500;
}
.search_tab_btns {
	border-bottom: 1px solid #d7d7d7;
	text-align: center;
}
.search_tab_btns button {
	font-size: 18px;
	color: #acacac;
	margin: 0 30px;
	padding: 10px 0;
	border-bottom: 2px solid transparent;
	min-width: 70px;
}
.search_tab_btns button.on {
	color: #000;
	border-color: #4ba871;
}
.search_tab {
	display: none;
}
.search_tab.active {
	display: block;
}
.pro_top_right_rows_last_rental {
	margin-bottom: 10px;
}
.pro_top_right_rows_last_rental:last-child {
	margin-bottom: 0;
}
.pro_top_right_rows_last_rental p {
	font-size: 14px;
	color: #666161;
}
.pro_top_right_rows_last_rental span {
	font-size: 24px;
}
.pro_top_right_rows_last_rental span em {
	font-weight: 600;
	font-size: 24px;
	color: #fc3919;
}

.autoship_cart_pro_name {
	width: 50%;
	text-align: center;	
}
.autoship_cart_pro_ea {
	width: 12.5%;
	text-align: center;
}
.autoship_cart_pro_qv {
	width: 12.5%;
	text-align: center;	
}
.autoship_cart_pro_price {
	width: 12.5%;
	text-align: center;	
}
.autoship_cart_pro_qv_total {
	width: 12.5%;
	text-align: center;
}
.autoship_cart_pro_ea .l button {
	width: 35px;
	background-color: #f5f5f5;
}
.autoship_cart_pro_ea .l input {
	width: 41px;
}
.autoship_cart_pro_name span {
	font-size: 15px;
	font-weight: 500;
}
.autoship_cart_pro_qv span,
.autoship_cart_pro_price span,
.autoship_cart_pro_qv_total span {
	font-size: 15px;
}
.autoship_cart_result_rows {
	min-width: 150px;
}
.autoship_cart_result_rows div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.autoship_cart_result_rows div p {
	font-size: 14px;
	color: #acacac;
}
.autoship_cart_result_rows div span {
	font-size: 18px;
	font-weight: 600;
	color: #666161;
}
.autoship_cart_result_rows div em {
	color: #fc3919;
	font-weight: 600;
}
.cart_result_rows span.auto_span {
	color: #000;
	font-weight: 500;
}
.cart_result_rows span.auto_span b {
	font-weight: 500;
}
.autoship_shop_head {
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	padding: 20px 0;
}
.autoship_order {}
.autoship_order .order_left {
	width: 100%;
}
.autoship_order .cart_table_mid_box {
	width: 80%;
}
.autoship_order .autoship_cart_pro_ea span {
	font-size: 15px;
}
.autoship_order_btns {
	text-align: center;
	margin-bottom: 40px;
}
.autoship_order_btns a {
	display: inline-block;
	width: 130px;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	font-size: 16px;
	margin: 0 3px;
}
.autoship_order_btns a:first-child {
	color: #fc6d05;
	border: 1px solid #fc6d05;
}
.autoship_order_btns a:last-child {
	border: 1px solid #fc6d05;
	background-color: #fc6d05;
	color: #fff;
}
.autoship_order .pay_method_wrap {
	border-top: none;
}
.autoship_pay_result {
	background-color: #f6f6f6;
	padding: 15px 30px;
	border-top: 2px solid #000;
}
.autoship_pay_result p {
	font-size: 14px;
	color: #898989;
}
.autoship_pay_result p b {
	font-size: 18px;
	font-weight: 600;
	color: #fc3919;
	margin-left: 15px;
}
.autoship_pay_result p em {}
.autoship_date_pick {}
.autoship_date_pick h5 {
	font-size: 14px;
	padding-bottom: 10px;
}
.autoship_date_pick select {
	border: 1px solid #d7d7d7;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	max-width: 400px;
	width: 100%;
	margin-bottom: 10px;
}
.autoship_order_last_btns {
	text-align: center;
}
.autoship_order_last_btns button {
	font-size: 18px;
	width: 220px;
	border-radius: 5px;
	padding: 12px;
}
.autoship_order_last_btns button:first-child {
	color: #fc3919;
	border: 1px solid #fc3919;
	background-color: #fff;
}
.autoship_order_last_btns button:last-child {
	color: #fff;
	border: 1px solid #fc3919;
	background-color: #fc3919;
}
.order_complete_wrap {
	min-height: calc(100vh - 212px);
	padding-bottom: 100px;	
}
.order_complete_content {}
.order_complete_content h1 {
	text-align: center;
	font-weight: 500;
	font-size: 40px;
	padding: 50px 0;
}
.order_complete_center {
	max-width: 450px;
	margin: auto;
	margin-top: 50px;
}
.order_complete_center p {
	text-align: center;
	font-size: 30px;
}
.order_com_box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border-top: 1px solid #898989;
	padding-top: 20px;
	margin-top: 50px;
}
.order_com_box_left {}
.order_com_box_left img {
	display: block;
}
.order_com_box_right {}
.order_com_box_right div {
	display: flex;
	gap: 30px;
}
.order_com_box_right div span {}
.order_complete_btns {
	text-align: center;
	margin: 50px 0;
}
.order_complete_btns button {
	font-size: 18px;
	width: 220px;
	border-radius: 5px;
	padding: 12px;	
}
.order_complete_btns button:first-child {
	color: #fc3919;
	border: 1px solid #fc3919;
	background-color: #fff;	
}
.order_complete_btns button:last-child {
	color: #fff;
	border: 1px solid #fc3919;
	background-color: #fc3919;	
}
.order_complete_wrap .o_right p {
	color: #898989;
}
.order_complete_wrap .orderer_wrap {
	padding: 20px 0;
}
.orderer_del {
	margin-top: 50px;
}
.pay_info {
	margin-top: 50px;
}
.pay_info_box {
	padding: 30px;
	border-bottom: 1px solid #d7d7d7;
}
.pay_info_rows {
	display: flex;
	gap: 30px;
	padding-bottom: 20px;
}
.pay_info_rows:last-child {
	padding-bottom: 0;
}
.pay_info_rows span {
	min-width: 80px;
	font-size: 14px;
}
.pay_info_rows b {
	font-size: 14px;
	color: #898989;
	font-weight: 400;
}
#event_item_list.search_result_wrap {
	padding-top: 0;
}
