@media(max-width: 1200px) {
	.auto_top_box:last-child {
		margin-right: 0;
	}	
}

@media(max-width: 1024px) {
	body.active {
		overflow: hidden;
	}
	.common_inner {
		max-width: 100%;
		padding: 0 15px;
	}
	.header_top {
		justify-content: center;
	}
	.header_top > div {
		min-width: 124px;
		display: flex;
		justify-content: center;
	}
	.gnb {
		display: none; 
	}
	.header_bottom {
		justify-content: center;
		position: relative;
		padding: 10px 0;
	}
	.mo_btns {
		display: block;
		position: absolute;
		right: 15px;
		display: flex;
    gap: 15px;
    align-items: center;
	}
	.mo_share {}
	.mo_share img {}
	.swiper {
		height: 280px;
	}
	.swiper-slide img {
		display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;	
	}
	.dash_date {
		position: static;
		width: 100%;
		transform: none;
	}
	.dash_date > div {
		justify-content: center;
		gap: 10px;
	}
	.box_item {
		width: calc(50% - 15px);
	}
	.tb_1 tr th:first-child {
		width: 65%;
	}
	.tb_1 tr th:last-child {
		width: 35%;
	}
	.tb_3.tb_3_2 tr td {
		padding: 23px 10px;
	}
	.mo_gnb {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #f6f6f6;
		top: 0;
		left: -100%;
		z-index: 10;
		overflow-y: auto;
		transition: 0.4s;
	}
	.mo_gnb.active {
		left: 0;
	}
	.mo_gnb_top {
		background-color: #fff;
	}
	.mo_gnb_top .menu_inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;
	}
	.mo_gnb_bg .menu_inner {
		padding: 0 15px;
	}
	.mo_gnb_content {}
	.mo_gnb_intro {
		padding: 20px 0;
	}
	.mo_gnb_intro p {
		font-size: 14px;
		color: #555;
	}
	.mo_gnb_intro p span {
		font-weight: 500;
		text-decoration: underline;
	}
	.mo_gnb_intro p button {
		background-color: #555;
		color: #fff;
		font-size: 14px;
		border-radius: 7px;
		padding: 5px 10px;
		margin-left: 5px;
	}
	.mo_gnb_box {
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
	}
	.mo_gnb_box li {
		border-bottom: 1px dashed #ccc;
		position: relative;
	}
	.mo_gnb_box li.active > a {
		color: #fc6d05;
	}
	.mo_gnb_box li:not(.no_after):after {
		content: '';
		position: absolute;
		background-color: #222;
		width: 12px;
		height: 2px;
		top: 30px;
		right: 20px;
		transition: 0.4s;
	}
	.mo_gnb_box li:not(.no_after):before {
		content: '';
		position: absolute;
		background-color: #222;
		width: 12px;
		height: 2px;
		top: 30px;
		right: 20px;
		transition: 0.4s;
		transform: rotate(90deg);
	}
	.mo_gnb_box li.active:after {
		opacity: 0;
		transform: translateX(10px);
	}
	.mo_gnb_box li.active:before {
		transform: rotate(0);
	}
	.mo_gnb_box li:last-child {
		border-bottom: none;
	}
	.mo_gnb_box li > a {
		font-size: 15px;
		font-weight: 500;
		color: #555;
		display: block;
		padding: 20px 10px;
	}
	.mo_gnb_box_sub {
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		margin-bottom: 10px;
		display: none;
	}
	.mo_gnb_box_sub a {
		font-size: 14px;
		color: #555;
		display: block;
		padding: 7px;
	}
	.sub_common_inner {
		max-width: 100%;
		padding: 0 15px;
	}
	.report_table_wrap::-webkit-scrollbar {
		height: 4px;
	}
	.report_table_wrap::-webkit-scrollbar-thumb {
		background-color: #acacac;
		border-radius: 5px;
	}
	.report_table_wrap::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	.report_table_wrap {
		overflow-x: auto;
	}
	#report_table_01 .report_table {
		min-width: 1600px;
	}
	#report_table_02 .report_table {
		min-width: 1000px;
	}
	.top_sel {
		flex-wrap: wrap;
		gap: 10px;
	}
	.top_sel > div {
		width: 100%;
	}
	.order_date {
		margin-right: 0;
	}
	.order_date > span {
		display: inline-block;
		min-width: 86px;
		text-align: center;
	}
	.order_date > div,
	.set_period > div {
		width: calc(100% - 101px);
	}
	.order_date > div input {
		width: calc(50% - 13px);
	}

	.order_list_top .order_date > div {
		width: calc(70% - 105px);
	}
	.order_list_top .dw_sel {
		width: 30%;
		padding: 12px;
	}

	.set_period > div button {
		width: calc(20% - 6px);
	}
	.set_period > div button:last-child {
		margin-right: 0;
	}
	.bot_rows {
		width: calc(50% - 3px);
		margin-right: 0;
		margin-bottom: 10px;
	}
	.bot_rows span {
		display: inline-block;
		min-width: 76px;
	}
	.bot_rows select {
		width: calc(100% - 88px);
	}
	.bot_rows input {
		width: calc(100% - 88px);
	}
	.bot_rows:last-child input {
		width: calc(100% - 171px);
	}
	.list_table_wrap {
		overflow-x: auto;
	}
	.list_table {
		min-width: 1000px;
	}
	.list_table_wrap::-webkit-scrollbar {
		height: 4px;
	}
	.list_table_wrap::-webkit-scrollbar-thumb {
		background-color: #acacac;
		border-radius: 5px;
	}
	.list_table_wrap::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	.sponsor_pick_table_wrap {
		overflow-x: auto;
	}
	.sponsor_pick_table {
		min-width: 1000px;
	}
	.sponsor_pick_table_wrap::-webkit-scrollbar {
		height: 4px;
	}
	.sponsor_pick_table_wrap::-webkit-scrollbar-thumb {
		background-color: #acacac;
		border-radius: 5px;
	}
	.sponsor_pick_table_wrap::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	.aff_upgrade_wrap {
		padding-bottom: 100px;
	}
	.notice_top {
		max-width: 100%;
		width: 90%;
	}
	.notice_table tr th:nth-child(2) {
		padding-left: 250px;
	}
	.notice_inner {
		max-width: 90%;
	}
	.primary_agree_inner {
		max-width: 95%;
	}
	.autoship_top {
		flex-wrap: wrap;
	}
	.auto_top_box {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.auto_top_box:last-child {
		margin-bottom: 0;
	}
	.auto_top_box span {
		min-width: 85px;
		text-align: center;
	}
	.auto_top_box div select,
	.auto_top_box div input {
		width: calc(50% - 45px);
	}
	.auto_top_box:first-child select {
		width: calc(100% - 95px);
	}
	.auto_top_box div {
		width: 100%;
	}
	.sub_common_inner {
		max-width: 100%;
	}
	.auto_table {
		min-width: 1000px;
	}
	.autoship_modify_inner {
		max-width: 95%;
	}
	.pd_table_wrap {
		overflow-x: auto;
	}
	.pd_table_wrap table {
		min-width: 1000px;
	}
	.pd_table_wrap::-webkit-scrollbar {
		height: 4px;
	}
	.pd_table_wrap::-webkit-scrollbar-thumb {
		background-color: #acacac;
		border-radius: 5px;
	}
	.pd_table_wrap::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}
	.downline_report_top .order_date {
		margin-right: 0;
	}
	.set_period > div {
		width: calc(100% - 102px);
	}
	.downline_report_top .order_date > div {
		width: calc(70% - 105px);
	}
	.downline_report_top .dw_sel {
		width: 30%;
		padding: 12px;
	}
	.set_period > div button {
		margin-right: 0;
		width: calc(20% - 4px);
	}
	.downline_report_top .bot_sel {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding-bottom: 45px;
	}
	.downline_report_top .bot_rows {
		margin-right: 0;
		width: 50%;
	}
	.downline_report_top .bot_rows select {
		width: calc(100% - 88px);
	}
	.downline_report_top .bot_rows button {
		position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
	}
	.compen_bg_box {
		flex-wrap: wrap;
		/* align-items: flex-start; */
		align-content: center;
	}
	.compen_bg_box_left,
	.compen_bg_box_right {
		width: 100%;
	}
	.compen_bg_box_left {
		/* display: flex;
		justify-content: center;
		align-items: center; */
	}
	.compen_bg_box_left img {
		width: 103px;
	}
	.compen_bg_box_right {
		text-align: center;
	}
	.compen_bg_box_right h2 {
		font-size: 24px;
	}
	.compen_bg_box_right p {
		font-size: 18px;
	}
	.compen_how_section_wrap {
		flex-wrap: wrap;
		padding: 0 15px;
	}
	.compen_how_small {
		width: 100%;
		flex-direction: row;
	}
	.compen_how_small.small_img {
		display: flex;
		justify-content: center;
	}
	.compen_how_small.small_img img {
		width: 100%;
		max-width: 500px;
	}
	.compen_qgxp_section_bottom_con {
		padding: 0 20px;
		flex-wrap: wrap;
	}
	.qgxp_left,
	.qgxp_right {
		width: 100%;
	}
	.compen_arrow {
		display: none;
	}
	.compen_qgxp_section_bottom_con {
		position: relative;
	}
	.qgxp_right_span_wrap {
		position: absolute;
		top: 240px;
		right: 20px;
		width: 50%;
	}
	.qgxp_right_span_wrap > span {
		width: 100%;
	}
	.re_direct {
		flex-wrap: wrap;
	}
	.re_direct_left,
	.re_direct_right {
		width: 100%;
	}
	.compen_reward_wrap {
		padding: 0 15px;
	}
	.re_direct_left > h4 {
		text-align: center;
	}
	.smart_ob {
		text-align: center;
	}
	.re_direct_right {
		margin: 10px 0;
	}
	.commerce_con {
		padding: 0 20px;
		gap: 20px;
	}
	.graphic1_bg {
		background-size: 100%;
	}
	.connected_re_img div {
		background-size: 100%;
	}
	.connected_re_img2 div {
		background-size: 100%;
	}
}

@media (max-width: 800px) {
	.primary_box_right div button {
		width: 100%;
		margin: 5px 0;
	}
	.primary_box_right div input {
		width: calc(50% - 12px);
	}
	.primary_box_right div button.acc_iden {
		width: fit-content;
	}
	.qgxp_right_span_wrap {
		width: 40%;
	}
}

@media(max-width: 768px) {
	.dash_heading {
		margin-bottom: 30px;
	}
	.dash_heading h1 {
		font-size: 26px;
		padding: 25px 0;
	}
	.box_item {
		width: 100%;
	}
	.box_item_head h3 {
		font-size: 16px;
	}
	.box_item_table_wrap {
		overflow-x: auto;
	}
	.tb_2_content_wrap {
		min-width: 500px;
		overflow-x: auto;
	}
	.common_table_item {
		min-width: 500px;
	}
	.sub_heading {
		font-size: 24px;
		padding: 20px 0;
	}
	.deadline_btns {
		margin-bottom: 30px;
	}
	.deadline_btns button {
		font-size: 14px;
		padding: 10px;
	}
	.period_btns button {
		font-size: 14px;
	}
	.report_table tr th {
		font-size: 13px;
	}
	.report_table tr td span {
		font-size: 13px;
	}
	.benefit_report_wrap {
		min-height: calc(100vh - 206px);
	}
	.reward_detail_popup h3 {
		font-size: 18px;
	}
	.reward_detail_popup {
		max-width: 90%;
	}
	.di_reward_pop .report_table {
		min-width: 750px;
	}
	.co_reward_pop .report_table {
		min-width: 650px;
	}
	.c_com_pop .report_table {
		min-width: 500px;
	}
	.sub_heading {
		font-size: 24px;
	}
	.order_date > span,
	.set_period > span {
		font-size: 14px;
		min-width: 81px;
	}
	.order_date > div input {
		font-size: 13px;
	}
	.order_date > div em {
		padding: 4px;
	}
	.set_period > div button {
		font-size: 14px;
	}
	.bot_rows span {
		font-size: 14px;
	}
	.bot_rows button {
		font-size: 14px;
		padding: 10px 14px;
	}
	.bot_rows {
		width: 100%;
	}
	.bot_rows:last-child input {
		width: calc(100% - 168px);
	}
	.list_table_item > h3 {
		font-size: 18px;
	}
	.list_table tr th {
		font-size: 13px;
	}
	.list_table tr td span {
		font-size: 13px;
	}
	.list_table tr td b {
		font-size: 13px;
	}
	.pg_num_center a {
		margin: 5px;
		width: 20px;
	}
	.sponsor_pick_table_head {
		font-size: 18px;
	}
	.sponsor_pick_table tr th {
		font-size: 13px;
	}
	.sponsor_pick_table tr td span {
		font-size: 13px;
	}
	.sponsor_pick_pop,
	.advancement_pop {
		max-width: 90%;
	}
	.sponsor_pick_pop > h3 {
		font-size: 20px;
	}
	.sponsor_pick_pop_search_box button {
		font-size: 13px;
	}
	.sponsor_pick_pop_table tr th {
		font-size: 13px;
	}
	.sponsor_pick_pop_table tr td span {
		font-size: 13px;
	}
	.advancement_pop_inner p {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.advancement_pop_btns button {
		font-size: 13px;
	}
	.aff_upgrade_box {
		max-width: 93%;
	}
	.upgrade_top h2,
	.upgrade_top h2 small {
		font-size: 18px;
	}
	.upgrade_bottom p {
		font-size: 16px;
		padding: 20px 0;
	}
	.upgrade_bottom button {
		font-size: 16px;
		min-width: 100%;
	}
	.notice_top {
		border: none;
    background-color: transparent;
		padding: 20px;
	}
	.notice_top {
		width: 100%;
		padding: 10px;
		margin-bottom: 25px;
	}
	.notice_top select {}
	.notice_top_search {
		justify-content: space-between;
	}
	.notice_top_search div {
		width: 100%;
	}
	.notice_top div input {
		min-width: auto;
	}
	.notice_btns a {
		width: 25%;
		font-size: 13px;
		min-width: auto;
	}
	.notice_inner {
		max-width: 95%;
	}
	.notice_table tr th:nth-child(2) {
		padding-left: 70px;
	}
	.notice_table tr th:nth-child(1),
	.notice_table tr td:nth-child(1),
	.notice_table tr th:nth-child(4), 
	.notice_table tr td:nth-child(4) {
		display: none;
	}
	.allspan {
		font-size: 13px;
	}
	.notice_table tr th {
		font-size: 13px;
	}
	.notice_table tr td b {
		font-size: 13px;
	}
	.notice_table tr td em {
		font-size: 13px;
	}
	.notice_table tr th:nth-child(3) {
		width: 100px;
	}
	.no_detail_head > h2 {
		font-size: 18px;
	}
	.no_detail_head > div span {
		font-size: 13px;
	}
	.no_detail_head > div em {
		font-size: 13px;
	}
	.go_notice_list {
		min-width: 100%;
		font-size: 14px;
	}
	.pri_info_con {
		padding: 20px;
	}
	.pri_info_inner {
		max-width: 95%;
	}
	.pri_info_complete {
		max-width: 100%;
	}
	.pri_info_row_right input.w_258 {
		max-width: 100%;
	}
	.pri_info_row_left {
		min-width: 95px;
	}
	.pri_info_row_right select {
		max-width: 100%;
		width: calc(100% - 98px);
	}
	.pri_info_row_right input.w_312 {
		max-width: 100%;
	}
	.pri_info_row_right input.w_161 {
		max-width: calc(50% - 38px);
	}
	.pri_info_complete {
		font-size: 16px;
	}
	.primary_agree h2 {
		font-size: 18px;
	}
	.primary_agree > span {
		font-size: 14px;
	}
	.primary_box em {
		font-size: 16px;
		width: 115px;
	}
	.primary_box p {
		width: calc(100% - 115px);
		font-size: 16px;
		padding-left: 25px;
	}
	.primary_agree > p {
		font-size: 13px;
	}
	.agree_con label {
		font-size: 14px;
		gap: 5px;
	}
	.primary_box_left {
		width: 115px;
	}
	.primary_box_left span {
		font-size: 16px;
	}
	.primary_box_right {
		width: calc(100% - 115px);
		padding-left: 25px;
	}
	.primary_box_right div button {
		font-size: 14px;
	}
	.auto_top_box span {
		font-size: 14px;
	}
	.auto_table tr th {
		font-size: 13px;
	}
	.auto_table tr td span {
		font-size: 13px;
	}
	.auto_table tr td > b {
		font-size: 13px;
	}
	.auto_table tr td > em {
		font-size: 13px;
	}
	.new_auto_start {
		font-size: 16px;
	}
	.autoship_modify_wrap {
		background-color: #fff;
		padding-bottom: 50px;
	}
	.order_common_head {
    font-size: 18px;
	}
	.o_left {
    padding-left: 5px;
    min-width: 105px;
	}
	.o_left span {
    font-size: 13px;
	}
	.o_right {
    width: calc(100% - 105px);
	}
	.o_right p {
    font-size: 13px;
	}
	.o_right select, 
	.o_right > input {
    font-size: 13px;
	}
	.autoship_pay_result p b {
    font-size: 16px;
	}
	.pay_method_wrap label[for=cr_card_chk] {
		font-size: 13px;
	}
	.pay_inner_rows input {
		font-size: 13px;
	}
	.autoship_order_last_btns button {
		font-size: 16px;
	}
	.del_info_change_pop > h2 {
    font-size: 18px;
	}
	.orderer_info_change_pop, 
	.del_info_change_pop {
    width: 95%;
	}
	.del_tab_btns > button {
    font-size: 13px;
	}
	.add_right_top label {
    font-size: 14px;
	}
	.add_right_rows p {
    font-size: 13px;
	}
	.address_box_wrap, 
	.del_form_wrap {
    max-height: 55vh;
    overflow-y: auto;
	}
	.del_info_change_pop_close {
    top: 0;
    right: 0;
	}
	.del_change_activate {
    font-size: 16px;
	}
	.del_form_rows > input, 
	.del_pop_post_code div input {
    font-size: 13px;
	}
	.del_pop_post_code div button {
    font-size: 13px;
	}
	.de_del_set label {
    font-size: 13px;
	}
	.new_del_resister_btn {
    font-size: 16px;
	}
	.sub_title {
		font-size: 18px;
	}
	.pd_top_wrap {
		flex-wrap: wrap;
	}
	.top_item {
		width: 100%;
	}
	.t_left span {
		font-size: 16px;
	}
	.top_item b {
		font-size: 17px;
	}
	.point_details_tab_btns button {
		font-size: 14px;
	}
	.pd_table_wrap table tr th {
		font-size: 13px;
	}
	.pd_table_wrap table tr td span {
		font-size: 13px;
	}
	.reward_sub_heading {
		font-size: 24px;
		padding: 20px 0;
	}
	.reward_wd_head {
		font-size: 18px;
	}
	.reward_withdraw_inner {
		padding: 0 15px;
	}
	.box_con1_bottom {
		padding: 20px 30px;
	}
	.box_con1_top h4 {
		font-size: 16px;
	}
	.box_con1_top {
		padding: 20px;
	}
	.box_con1_top ul {
		line-height: 1.8em;
	}
	.box_con1_top ul li {
		font-size: 14px;
	}
	.box_con1_bottom ul {
		line-height: 1.5em;
	}
	.box_con1_bottom ul li {
		font-size: 13px;
	}
	.box_con2_btn {
		font-size: 15px;
	}
	.box_con3_rows_left span {
		font-size: 14px;
	}
	.box_con3_rows_right b {
		font-size: 14px;
	}
	.reward_withdraw_pop,
	.reward_withdraw_use_pop {
		width: 95%;
	}
	.reward_withdraw_pop_rows span {
		font-size: 14px;
		width: auto;
		min-width: 115px;
	}
	.reward_withdraw_pop_rows p {
		font-size: 14px;
	}
	.reward_withdraw_pop_inner button {
		font-size: 14px;
	}
	.reward_withdraw_use_pop h2 {
		font-size: 20px;
	}
	.reward_withdraw_use_pop table tr th {
		font-size: 13px;
	}
	.reward_withdraw_use_pop table tr td {
		font-size: 13px;
	}
	.reward_withdraw_fail_box p {
		font-size: 16px;
	}
	.reward_withdraw_fail_box button {
		font-size: 16px;
	}
	.reward_withdraw_fail_box button {
		min-width: 100%;
	}
	.sponsor_pick_table_wrap {
		overflow-x: visible;
	}
	.sponsor_pick_table {
		border-top: none;
		min-width: 100%;
	}
	.sponsor_pick_table tbody {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.sponsor_pick_table tr:first-child {
		display: none;
	}
	.sponsor_pick_table tr {
		overflow: hidden;
		border: 1px solid #d7d7d7;
	}
	.sponsor_pick_table tr td {
		display: block;
		text-align: right;
		border: none;
	}
	.sponsor_pick_table tr td:first-child {
		background-color: #fafafa;
		border-bottom: 1px solid #fc6d05;
	}
	.sponsor_pick_table tr td.td1 span {
		font-weight: 500;
		color: #fc6d05;
	}
	.sponsor_pick_table tr td.td2 span,
	.sponsor_pick_table tr td.td3 span,
	.sponsor_pick_table tr td.td4 span,
	.sponsor_pick_table tr td.td5 span,
	.sponsor_pick_table tr td.td6 span {
		font-weight: 500;
		color: #000;
	}
	.td1 span:before {
		content: '회원번호';
		float: left;
		color: #898989;
		font-weight: 500;
	}
	.td2 span:before {
		content: '회원명';
		float: left;
		color: #898989;
		font-weight: 500;
	}
	.td3 span:before {
		content: '가입일자';
		float: left;
		color: #898989;
		font-weight: 500;
	}
	.td4 span:before {
		content: '신청일자';
		float: left;
		color: #898989;
		font-weight: 500;	
	}
	.td5 span:before {
		content: '회원실적XP';
		float: left;
		color: #898989;
		font-weight: 500;	
	}
	.td6 span:before {
		content: '직 추천회원수';
		float: left;
		color: #898989;
		font-weight: 500;	
	}
	.td7 div {
		justify-content: flex-end;
		gap: 10px;
	}
	.td7 div:before {
		content: '후원인 지정';
		margin-right: auto;
		color: #898989;
    font-size: 14px;
		font-weight: 500;	
	}
	.td8 {
		min-height: 49px;
	}
	.td8 span:before {
		content: '등록';
		float: left;
		color: #898989;
		font-weight: 500;	
	}
	.sponsor_pick_table tr td.td7,
	.sponsor_pick_table tr td.td8 {
		background-color: #fbf4f1;
	}
	.sponsor_pick_table tr td span.on {
		color: #fc3919;
	}
	.compensation_plan_content > h1 {
		font-size: 24px;
		padding: 30px 0;
	}
	.compensation_plan_content > h1 span {
		font-size: 16px;
	}
	.compen_how_section > h1 {
		font-size: 24px;
	}
	.compen_how_section > h1 span {
		font-size: 16px;
	}
	.compen_how_section {
		padding-bottom: 50px;
	}
	.compen_how_section > h1 {
		padding: 50px 0;
	}
	.compen_ex_small {
		margin-bottom: 40px;
	}
	.compen_ex_small h3 {
		font-size: 18px;
	}
	.compen_ex_small > span {
		font-size: 12px;
	}
	.compen_ex_small ul li {
		font-size: 14px;
	}
	.compen_ex_small em {
		font-size: 16px;
	}
	.compen_ex_small ul li span {
		font-size: 13px;
	}
	.compen_ex_small ul.ex_desc {
		line-height: 2em;
	}
	.compen_qgxp_section > h1 {
		font-size: 24px;
	}
	.compen_qgxp_section > h1 span {
		font-size: 16px;
	}
	.compen_qgxp_section_top > p {
		font-size: 16px;
	}
	.compen_qgxp_section_top_desc h2 {
		font-size: 18px;
	}
	.compen_qgxp_section_top_desc p {
		font-size: 14px;
	}
	.qgxp_right_span_wrap > span {
		font-size: 18px;
	}
	.qgxp_right_box:before {
		left: auto;
		right: 50px;
	}
	.qgxp_right_box_top h2 {
		font-size: 18px;
	}
	.qgxp_right_box_top b {
		font-size: 18px;
	}
	.compen_reward_wrap > h2 {
		font-size: 24px;
	}
	.compen_reward_wrap > h2 span {
		font-size: 16px;
	}
	.reward_small_head {
		font-size: 20px;
	}
	.re_direct_left p {
		font-size: 14px;
	}
	.re_direct_left ul li {
		font-size: 14px;
	}
	.reward_small_span {
		font-size: 16px;
	}
	.commerce_con_right p {
		font-size: 14px;
	}
	.commerce_con_right ul li {
		font-size: 14px;
	}
	.reward_section_img p {
		font-size: 16px;
		padding: 10px 0;
	}
	.graphic1_bg {
		height: 470px;
		background-image: url(../img/compen_reward_graphic_img_mo.png);
	}
	.connected_re p {
		font-size: 14px;
	}
	.connected_re ul li {
		font-size: 14px;
	}
	.connected_re_table_wrap:after {
		right: auto;
		top: 40px;
	}
	.connected_re_img div {
		height: 500px;
		background-image: url(../img/compen_connected_graphic_img_mo.png);
	}
	.connected_re_img h4,
	.connected_re_img2 h4 {
		font-size: 18px;
	}
	.connected_re_img p, 
	.connected_re_img2 p {
		font-size: 16px;
	}
	.connected_re_img2 {
		padding: 30px 0;
	}
	.connected_re_img2 div {
		height: 620px;
		background-image: url(../img/compen_connected2_graphic_img_mo.png);
	}
	.compen_qgxp_section {
		padding: 30px 0;
	}
	.compen_qgxp_section_top {
		padding-bottom: 30px;
	}
}

@media (max-width: 700px) {
	.compen_how_item {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.commerce_con {
		flex-wrap: wrap;
	}
	.commerce_con_left,
	.commerce_con_right {
		width: 100%;
	}
	.commerce_con_left {
		text-align: center;
	}
}

@media (max-width: 660px) {
	.box_con3_rows_left {
		width: auto;
		min-width: 140px;
	}
	.box_con3_rows_right div {
		width: auto;
	}
	.box_con3_rows {
		gap: 5px;
	}
	.box_con3_rows_right div input {
		font-size: 14px;
	}
	.box_con3_btns button {
		width: calc(50% - 3px);
		font-size: 16px;
	}
	.qgxp_left_img {
		text-align: center;
	}
	.qgxp_right_span_wrap {
		position: static;
		width: 100%;
	}
	.smart_ob img {
		width: 100%;
	}
	.re_direct_left > h4 {
		margin-top: 30px;
	}
}

@media (max-width: 600px) {
	.downline_report_top .set_period > span, 
	.downline_report_top .order_date > span {
		display: inline-block;
    text-align: center;
    margin-bottom: 10px;
	}
	.order_list_top .order_date > div,
	.downline_report_top .order_date > span, 
	.downline_report_top .set_period > span, 
	.downline_report_top .order_date > div, 
	.downline_report_top .set_period > div {
		width: 100%;
	}

	.order_list_top .dw_sel {
		width: 100%;
		margin-bottom: 10px;
	}

	.downline_report_top .dw_sel {
		width: 100%;
		margin-bottom: 10px;
	}
	.re_direct_right img {
		width: 100%;
	}
	.graphic1_bg {
		height: 380px;
	}
	.connected_re_table_wrap2:after {
		right: auto;
		top: 40px;
	}
	.connected_re_img2 div {
		height: 520px;
	}
}

@media (max-width: 550px) {
	.notice_btns {
		flex-wrap: wrap;
	}
	.notice_btns a {
		width: calc(50% - 7px);
	}
}

@media (max-width: 500px) {
	.order_date > span, 
	.set_period > span,
	.order_date > div, 
	.set_period > div {
		width: 100%;
	}
	.set_period > span,
	.order_date > span {
		display: inline-block;
		text-align: center;
		margin-bottom: 10px;
	}
	.set_period > div button {
		font-size: 12px;
	}
	.mo_gnb_intro p button {
		display: block;
		margin-left: 0;
		margin-top: 10px;
		font-size: 13px;
	}
	.pri_info_row_right input.w_161 {
		max-width: calc(50% - 2px);
	}
	.pri_info_row_right button.ano {
		width: 100%;
		margin-top: 5px;
	}
	.pri_info_row_right button.w_90 {
		width: auto;
	}
	.pri_info_row_right input.w_150 {
		max-width: calc(100% - 80px);
	}
	.pri_info_row_right select {
		width: calc(100% - 76px);
	}
	.pri_info_row {
		padding: 7px 0;
	}
	.auto_top_box {
		flex-wrap: wrap;
	}
	.auto_top_box span {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.auto_top_box:first-child select {
		width: 100%;
	}
	.auto_top_box div {
		display: flex;
		flex-wrap: wrap;
	}
	.auto_top_box div button {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	.auto_top_box div select, 
	.auto_top_box div input {
		width: calc(50% - 2px);
		margin-left: 2px;
	}
	.new_auto_start {
		min-width: 100%;
	}
	.pay_method_wrap {
		padding: 20px;
	}
	.autoship_order_last_btns button {
		width: calc(50% - 3px);
	}
	.pay_inner_rows > span {
    display: block;
		margin-bottom: 5px;
	}
	.downline_report_top .bot_rows {
		width: 100%;
	}
	.advancement_pop_btns button {
		min-width: auto;
		width: calc(50% - 5px);
	}
	.primary_box_right select {
		width: 100%;
	}
	.primary_box_right div button.acc_iden {
		width: 100%;
	}
	.primary_box_right > input {
		width: 100%;
	}
	.compen_how_item {
		/* width: 40%; */
	}
	.compen_how_small.ch_p {
		gap: 15px;
	}
	.graphic1_bg {
		height: 300px;
	}
	.reward_small_span {
		margin-bottom: 40px;
	}
	.reward_section.notice_after:after {
		right: auto;
    left: 0;
    top: 80px;
	}
	.connected_re_img div {
		height: 330px;
	}
	.connected_re_img2 div {
		height: 430px;
	}
}



@media (max-width: 450px) {
	.primary_box2,
	.primary_box3 {
		flex-wrap: wrap;
	}
	.primary_box_left {
		width: 100%;
		border-radius: 10px 10px 0 0;
		padding: 10px 0;
	}
	.primary_box_right {
		width: 100%;
		border-radius: 0 0 10px 10px;
	}
	.qgxp_left_img img {
		width: 100%;
	}
	.reward_small_span:before {
		content: none;
	}
	.connected_re_table_wrap:after {
		top: 55px;
	}
	.connected_re_table_wrap2:after {
		top: 50px;
	}
	.connected_re_img2 div {
		height: 380px;
	}
}

@media (max-width: 400px) {
	.dash_date > div span {
		font-size: 13px;
	}
	.dash_date > div p {
		font-size: 13px;
	}
	.reward_withdraw_pop_inner button {
		width: 100%;
	}
	.commerce_con_left img {
		width: 100%;
	}
	.graphic1_bg {
		height: 235px;
	}
	.connected_re_img {
		padding: 40px 0;
	}
	.connected_re_img div {
		height: 280px;
	}
	.connected_re_img2 div {
		height: 340px;
	}
}